{% extends 'contenidos/base.html' %}
{% load static %}

{% block title %}DemocraciaKit - Perfil{% endblock %}
{% block content %}

<main>
    <section class="accesos-directos">
        <a href="{% url 'users:profile' %}" class="btn-rueda">Perfil <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt="Entrar a mi perfil"></a>
        <a href="{% url 'contenidos:mikit' %}" class="btn-kit"><img src="{% static 'img/icono-kit.png' %}" class="icono" alt="Entrar a mi kit"> Mi Kit</a>
    </section>
    <section class="container header-section">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Etapas</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
                    </ol>
                </nav>
                <h2>Mi Perfil</h2>
                <!-- <p>Frase descriptiva o que invite a completar el perfil</p> -->
            </div>
        </div>
    </section>
    <section class="container perfil form">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <h3>{{ user.username }}</h3>
                            {% if user.frase %}
                            <div class="frase mb-3">
                                <div class="bocadillo">
                                    <div class="forma"></div>
                                <!--    <textarea type="text" class="form-control form-frase" id="exampleFormControlTextarea1" rows="1" 
                                    placeholder="{{ user.frase }}" 
                                    aria-label="Frase descriptiva: {{ user.frase }}"></textarea> -->
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-12 col-md-5">
                            {% if user.foto %}
                            <img src="{{ user.foto.url }}" alt="Imagen de perfil del usuario" class="img-perfil mb-3 img-fluid">
                            {% else %}
                            {% endif %}
                        </div>
                        <!-- <div class="col-12 col-sm-12 col-md-7">
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Nombre usuario</label>
                                <p>{{ user.username }}</p>
                            </div>
                            {% if user.pais %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">País</label>
                                <p>{{ user.pais }}</p>
                            </div>
                            {% endif %}
                            {% if user.municipio %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Municipio</label>
                                <p>{{ user.municipio }}</p>
                            </div>
                            {% endif %}
                            {% if user.cargo %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Cargo</label>
                                <p>{{ user.cargo }}</p>
                            </div>
                            {% endif %}
                        </div> -->
                    </div>
                    <div class="row">
                        {% if user.descripcion %}
                        <div class="col-12 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Descripción</label>
                            <p>{{ user.descripcion }}</p>
                        </div>
                        {% endif %}
                    </div>
            </div>
    </section>

</main>


{% endblock %}
