{% extends 'contenidos/base.html' %}
{% load static %}

{% block title %}DemocraciaKit - Perfil{% endblock %}
{% block content %}

<main>
    <!-- íconos -->
    
    <!-- accesos directos -->
    <section class="accesos-directos">
        <a href="{% url 'users:profile' %}" class="btn-rueda">Perfil <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt="Entrar a mi perfil"></a>
        <a href="{% url 'contenidos:mikit' %}" class="btn-kit"><img src="{% static 'img/icono-kit.png' %}" class="icono" alt="Entrar a mi kit"> Mi Kit</a>
    </section>
    <section class="container header-section">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Rueda</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Perfil</li>
                    </ol>
                </nav>
                <h2>Mi Perfil</h2>
                <!-- <p>Frase descriptiva o que invite a completar el perfil</p> -->
            </div>
        </div>
    </section>
    <section class="container perfil form">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-6 col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <h3>{{ user.frase }} // {{ user.username }}</h3>
                            {% if user.frase %}
                            <div class="frase mb-3">
                                <!-- <div class="bocadillo">
                                    <div class="forma"></div>
                                    {{ user.frase }}
                                </div> -->
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-12 col-sm-12 col-md-5">
                            {% if user.foto %}
                            <img src="{{ user.foto.url }}" alt="Imagen de perfil del usuario" class="img-perfil mb-3 img-fluid">
                            {% else %}
                            {% endif %}
                        </div>

                        <div class="col-12 col-sm-12 col-md-7">
                            <!-- <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Nombre usuario</label>
                                <p>{{ user.username }}</p>
                            </div>
                            {% if user.pais %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">País</label>
                                <p>{{ user.pais }}</p>
                            </div>
                            {% endif %}
                            {% if user.municipio %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Municipio</label>
                                <p>{{ user.municipio }}</p>
                            </div>
                            {% endif %}
                            {% if user.cargo %}
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Cargo</label>
                                <p>{{ user.cargo }}</p>
                            </div>
                            {% endif %} -->
                        </div>
                    </div>
                    <div class="row">
                        {% if user.descripcion %}
                        <div class="col-12 mb-3">
                            <label for="exampleInputEmail1" class="form-label">Descripción</label>
                            <p>{{ user.descripcion }}</p>
                        </div>
                        {% endif %}
                    </div>
            </div>
            <!-- <div class="col-12 col-sm-12 col-md-6 col-lg-4 panel">
                <div class="cambiar-contrasena">
                    <p>¿Quieres cambiar la contraseña?</p>
                    <a href="" class="btn-democraciakit btn-rosado">Cambiar contraseña</a>
                </div>

                <div class="panel-control">
                   <h4>Panel de control</h4>
                    <div class="caja-rosada"></div>
                    <div class="caja-verde"></div>
                </div>
            </div>
        </div> -->
    </section>
    <!-- <section class="premio">
        <div class="scrolling-text">
            <p class="text-white">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-blue">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-green">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-white">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-blue">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-green">Premio latinoamericano democracia digital 2da edición</p>
        </div>
    </section> -->
</main>


<!-- <div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4">Perfil de Usuario</h2>
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="mb-3">
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <div class="alert alert-danger">
                            {{ field.errors }}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Actualizar Perfil</button>
        </form>
    </div>
</div> -->
{% endblock %}