{% extends 'contenidos/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Iniciar Sesión{% endblock %}

{% block content %}

<main>
    <section class="container-fluid portada">
        <div class="iconos-derecha">
            <ul>
                <li class="img-1"><img src="{% static 'img/icono-1-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-2"><img src="{% static 'img/icono-2-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-1"><img src="{% static 'img/icono-3-portada.png' %}" alt="imagen decorativa de icono"></li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center titulos-portada">
                    <p>Construye tu proyecto con</p>
                    <h1>DemocraciaKit</h1>
                </div>
            </div>
        </div>
        <div class="iconos-izquierda">
            <ul>
                <li class="img-1"><img src="{% static 'img/icono-4-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-2"><img src="{% static 'img/icono-5-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-1"><img src="{% static 'img/icono-6-portada.png' %}" alt="imagen decorativa de icono"></li>
            </ul>
        </div>
    </section>
    <section class="container-fluid login form">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6">
                    <h2>Iniciar sesión</h2>
                    <p>Un viaje a través de <span>múltiples herramientas</span> que permiten el diseño de un proyecto participativo.</p>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Usuario o correo</label>
                            <input type="email" class="form-control" id="username" name="username" aria-describedby="emailHelp" placeholder="Ingresa aquí">
                            <div id="emailHelp" class="form-text">ejemplo@correo.com</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Contraseña</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña">
                        </div>
                        <button type="submit" class="btn-democraciakit mb-5">Entrar</button>
                    </form>
                    <div class="mb-3 recuperar">
                        <p>¿Aún no te has registrado? <a href="{% url 'users:register' %}">&gt; hazlo aquí</a></p>
                    </div>
                    <div class="mb-3 recuperar">
                        <p><a href="{% url 'contenidos:derechos' %}">Protegemos tu privacidad y seguridad</a></p>
                    </div>
                    <!-- <div class="mb-3 recuperar">
                        <p>¿Olvidaste tu contraseña? <a href="{% url 'users:password_reset' %}" class="enlace-recuperar">&gt; Recuperar aquí</a></p>
                    </div> -->
                </div>
            </div>
        </div>
        <div class="img-decoracion">
            <img src="{% static 'img/rueda-mitad-decoracion.png' %}" alt="" class="img-decoracion-desktop" />
        </div>
    </section>
    <section class="premio">
        <div class="scrolling-text">
            <p class="text-white">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-blue">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-green">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-white">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-blue">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-green">Premio latinoamericano democracia digital 2da edición</p>
        </div>
    </section>
    <section class="descargar-toolkit-pdf">
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-row justify-content-center align-items-center align-self-center">
                    <h4>Invitación a descargar Toolkit PDF</h4>
                    <a href="https://drive.google.com/file/d/1l9rRNGLfrxYm-bzTBPYzd4XQD2U8aV6E/view" class="btn-democraciakit" target="_blank">Descargar</a>
                </div>
            </div>
        </div>
    </section>
</main>



<!-- <div class="row justify-content-center">
    <div class="col-md-6">
        <h2 class="mb-4">Iniciar Sesión</h2>
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        </form>
        <p class="mt-3">
            <a href="{% url 'users:password_reset' %}">¿Olvidaste tu contraseña?</a>
        </p>
    </div>
</div> -->
{% endblock %}