{% load crispy_forms_tags %}


    <div id="modal" class="modal modal-dialog-center" _="on closeModal add .closing then wait for animationend then remove me">
        <div class="modal-content modal-dialog-scrollable" role="document">
            <h4 class="metodologias">Revisa tu defición</h4>
            {% if formulario_reciente1 %}                
            <h4>Quién:</h4> <p>{{ formulario_reciente1.uno|linebreaks }}</p>
            <h4>Dónde:</h4> <p>{{ formulario_reciente1.dos|linebreaks }}</p>
            <h4>Cuando:</h4><p>{{ formulario_reciente1.tres|linebreaks }}</p>
            <h4>Dolor:</h4> <p>{{ formulario_reciente1.cuatro|linebreaks }}</p>
            {% endif %}
            <br>
            <button class="btn-editar-metodologias" hx-get="{% url 'contenidos:definicionedit' %}" hx-target="#swap1" hx-swap="innerHTML">Editar definiciones</button> 
            <div class="modal-footer">  
            <button class="btn-editar-metodologias" _="on click trigger closeModal">Cerrar</button>
           </div>
        </div>
    </div>

