
/* Rectangle 803 */

position: absolute;
width: 1366px;
height: 99px;
left: 0px;
top: 0px;

background: #000F74;
mix-blend-mode: normal;

-----------------------------

< Volver a AbreAlcaldias


/* < Volver a AbreAlcaldias */

position: absolute;
width: 284px;
left: calc(50% - 284px/2 - 416px);
top: 3.05%;
bottom: 94.52%;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;

text-shadow: 0px 0px 14.8148px rgba(0, 0, 0, 0.25);

------------------------------

Construye tu proyecto con 

/* Group 1572 */

position: absolute;
width: 444px;
height: 99.72px;
left: calc(50% - 444px/2);
top: 35px;






/* Presentación */

position: relative;
width: 1366px;
height: 1313px;

background: #FFFFFF;


/* Frame 2 */

position: absolute;
width: 1510px;
height: 467px;
left: -127px;
top: 575px;



/* Group 813 */

position: absolute;
width: 778.64px;
height: 751.86px;
left: 1191.85px;
top: 175px;

transform: rotate(89.72deg);


/* Polygon 8 */

position: absolute;
width: 272.03px;
height: 186.53px;
left: 1041.75px;
top: 504.76px;

background: #74D9F9;
border-radius: 14.037px;
transform: rotate(-142.67deg);


/* Polygon 15 */

position: absolute;
width: 272.03px;
height: 186.53px;
left: 920.39px;
top: 357.33px;

background: #74D9F9;
border-radius: 14.037px;
transform: rotate(165.76deg);


/* Polygon 16 */

position: absolute;
width: 272.03px;
height: 186.53px;
left: 730.1px;
top: 366.75px;

background: #74D9F9;
border-radius: 14.037px;
transform: rotate(116.54deg);


/* Polygon 17 */

position: absolute;
width: 272.03px;
height: 186.53px;
left: 612.27px;
top: 522.68px;

background: #74D9F9;
border-radius: 14.037px;
transform: rotate(65.31deg);


/* Polygon 12 */

position: absolute;
width: 272.03px;
height: 186.53px;
left: 1007.88px;
top: 702.23px;

background: #74D9F9;
border-radius: 14.037px;
transform: rotate(-90.76deg);


/* Polygon 13 */

position: absolute;
width: 272.03px;
height: 186.53px;
left: 827.41px;
top: 790.39px;

background: #74D9F9;
border-radius: 14.037px;
transform: rotate(-37.17deg);


/* Polygon 14 */

position: absolute;
width: 272.03px;
height: 186.53px;
left: 656.41px;
top: 715.94px;

background: #74D9F9;
border-radius: 14.037px;
transform: rotate(12.05deg);


/* Ellipse 25 */

position: absolute;
width: 335.75px;
height: 326.54px;
left: 990.25px;
top: 398.01px;

background: #74D9F9;
transform: rotate(89.72deg);


/* Capa_1-2 */

position: absolute;
left: 90.79%;
right: -1.98%;
top: 48.82%;
bottom: 13.02%;



/* Vector */

position: absolute;
left: 95.89%;
right: -1.98%;
top: 66.19%;
bottom: 13.02%;

background: #D500F9;


/* Vector */

position: absolute;
left: 90.81%;
right: 0.05%;
top: 48.82%;
bottom: 19.97%;

background: #D500F9;


/* Vector */

position: absolute;
left: 90.79%;
right: 4.33%;
top: 48.84%;
bottom: 34.55%;

background: #D500F9;


/* Vector */

position: absolute;
left: 94.35%;
right: 2.59%;
top: 60.96%;
bottom: 28.61%;

background: #D500F9;


/* Capa_1-2 */

position: absolute;
left: 77.75%;
right: 14.1%;
top: 33.62%;
bottom: 35.81%;



/* Vector */

position: absolute;
left: 82.64%;
right: 14.1%;
top: 33.62%;
bottom: 55.27%;

background: #B1E957;


/* Vector */

position: absolute;
left: 77.75%;
right: 18.99%;
top: 43.34%;
bottom: 45.54%;

background: #B1E957;


/* Vector */

position: absolute;
left: 82.64%;
right: 14.1%;
top: 53.07%;
bottom: 35.81%;

background: #B1E957;


/* Vector */

position: absolute;
left: 80.03%;
right: 16.38%;
top: 49.61%;
bottom: 42.1%;

background: #B1E957;


/* Vector */

position: absolute;
left: 80.04%;
right: 16.37%;
top: 39.89%;
bottom: 51.81%;

background: #B1E957;


/* Remove-bg 1 */

position: absolute;
width: 636px;
height: 463px;
left: 1684px;
top: 0px;

background: url(Remove-bg.png);
transform: matrix(-1, 0, 0, 1, 0, 0);


/* Capa_1-2 */

position: absolute;
left: 10.91%;
right: 77.48%;
top: 23.48%;
bottom: 36.95%;

transform: rotate(14.34deg);


/* Vector */

position: absolute;
left: 16.03%;
right: 82.92%;
top: 27.72%;
bottom: 61.53%;

background: #D500F9;
transform: rotate(14.34deg);


/* Vector */

position: absolute;
left: 13.83%;
right: 85.13%;
top: 55.63%;
bottom: 33.62%;

background: #D500F9;
transform: rotate(14.34deg);


/* Vector */

position: absolute;
left: 12.02%;
right: 85.44%;
top: 29.84%;
bottom: 61.5%;

background: #D500F9;
transform: rotate(14.34deg);


/* Vector */

position: absolute;
left: 16.24%;
right: 81.22%;
top: 54.38%;
bottom: 36.96%;

background: #D500F9;
transform: rotate(14.34deg);


/* Vector */

position: absolute;
left: 9.53%;
right: 87.32%;
top: 40.95%;
bottom: 55.49%;

background: #D500F9;
transform: rotate(14.34deg);


/* Vector */

position: absolute;
left: 17.72%;
right: 79.13%;
top: 47.72%;
bottom: 48.72%;

background: #D500F9;
transform: rotate(14.34deg);


/* Vector */

position: absolute;
left: 10.46%;
right: 87%;
top: 49.6%;
bottom: 41.74%;

background: #D500F9;
transform: rotate(14.34deg);


/* Vector */

position: absolute;
left: 17.8%;
right: 79.65%;
top: 34.62%;
bottom: 56.72%;

background: #D500F9;
transform: rotate(14.34deg);


/* Capa_1-2 */

position: absolute;
left: 19.29%;
right: 70.9%;
top: 71.98%;
bottom: 3.33%;



/* Vector */

position: absolute;
left: 19.29%;
right: 70.9%;
top: 71.98%;
bottom: 3.33%;

background: #FF8863;


/* Vector */

position: absolute;
left: 22.51%;
right: 74.13%;
top: 78.87%;
bottom: 10.12%;

background: #FF8863;


/* Capa_1-2 */

position: absolute;
left: 22.46%;
right: 67.73%;
top: 43.43%;
bottom: 31.87%;



/* Vector */

position: absolute;
left: 22.46%;
right: 67.73%;
top: 43.43%;
bottom: 31.87%;

background: #FF8863;


/* Vector */

position: absolute;
left: 25.68%;
right: 70.97%;
top: 50.32%;
bottom: 38.67%;

background: #FF8863;


/* IMG_4246 1 */

position: absolute;
width: 493px;
height: 315px;
left: 103.76px;
top: 152px;

background: url(IMG_4246.png);


/* Capa_1-2 */

position: absolute;
left: 0.46%;
right: 84.44%;
top: -20.34%;
bottom: 70.23%;



/* Vector */

position: absolute;
left: 5.44%;
right: 89.49%;
top: -3.92%;
bottom: 86.74%;

background: #B1E957;


/* Vector */

position: absolute;
left: 0.46%;
right: 84.44%;
top: -20.34%;
bottom: 70.23%;

background: #B1E957;


/* Vector */

position: absolute;
left: 90.86%;
right: -9.21%;
top: -10.49%;
bottom: 51.18%;

background: #74D9F9;


/* Vector */

position: absolute;
left: 90.86%;
right: -9.21%;
top: 16.27%;
bottom: 78.37%;

background: #74D9F9;


/* Vector */

position: absolute;
left: 95.89%;
right: -4.3%;
top: -9.42%;
bottom: 51.18%;

background: #74D9F9;


/* Rectangle 870 */

position: absolute;
width: 513px;
height: 35px;
left: 425px;
top: 631px;

background: #B1E957;


/* Rectangle 882 */

position: absolute;
width: 240px;
height: 41px;
left: 430px;
top: 509px;

background: #74D9F9;


/* Facilitamos el acceso al Método Abre Alcaldías para la creación de proyectos participativos e innovadores. */

position: absolute;
width: 881px;
height: 80px;
left: calc(50% - 881px/2 - 0.5px);
top: 587px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 26px;
line-height: 40px;
/* or 154% */
text-align: center;

color: #000F74;



/* ¡Crea tu proyecto con Democraciakit! */

position: absolute;
width: 980px;
height: 80px;
left: calc(50% - 980px/2 + 1px);
top: 502px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 50px;
text-align: center;

color: #000F74;



/* Group 1576 */

position: absolute;
width: 312px;
height: 38.7px;
left: calc(50% - 312px/2 + 146px);
top: 355px;



/* primario */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 7.58865px 22.766px;
gap: 7.59px;

position: absolute;
width: 312px;
height: 38.7px;
left: calc(50% - 312px/2 + 146px);
top: 355px;

background: #000F74;
border-radius: 75.8865px;


/* Boton */

width: 262px;
height: 22px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */
display: flex;
align-items: center;
letter-spacing: 0.02em;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 803 */

position: absolute;
width: 1366px;
height: 99px;
left: 0px;
top: 0px;

background: #000F74;
mix-blend-mode: normal;


/* ¿Qué es */

position: absolute;
width: 146px;
height: 50px;
left: 194px;
top: 220px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 34px;
line-height: 50px;
text-align: center;

color: #000F74;



/* Democraciakit? */

position: absolute;
width: 403px;
height: 70px;
left: 194px;
top: 259.78px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 47px;
line-height: 70px;
/* identical to box height */
text-align: center;

color: #D500F9;



/* Es una guía práctica e interactiva creada para ayudar a personas líderes innovadores públicos a potenciar la participación ciudadana y fortalecer la democracia local en América Latina. */

position: absolute;
width: 528px;
height: 132px;
left: 672px;
top: 212px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 149%;
/* or 33px */

color: #000F74;



/* informacion-icono 1 */

position: absolute;
width: 24px;
height: 24px;
left: 195px;
top: 339px;



/* Vector */

position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%;

background: #000F74;


/* Group 789 */

position: absolute;
width: 1366px;
height: 282px;
left: 0px;
top: 1031px;



/* Group 479 */

position: absolute;
width: 1366px;
height: 282px;
left: 0px;
top: 1031px;



/* Rectangle 175 */

position: absolute;
width: 1366px;
height: 212px;
left: 0px;
top: 1031px;

/* d */
background: #000F74;


/* Rectangle 681 */

position: absolute;
width: 1366px;
height: 81px;
left: 0px;
top: 1232px;

background: #263238;


/* Este sitio web utiliza Google Analytics para analizar el tráfico que recibe y Cloudflare para administrar los DNS. */

position: absolute;
left: 17.85%;
right: 10.35%;
top: 96.27%;
bottom: 2.36%;

font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 98.3%;
/* identical to box height, or 18px */
display: flex;
align-items: center;

/* f */
color: #F4F9FE;



/* Group 398 */

position: absolute;
width: 26.23px;
height: 27px;
left: 207px;
top: 1258px;



/* Group */

position: absolute;
left: 15.15%;
right: 82.93%;
top: 95.81%;
bottom: 2.13%;



/* Vector */

position: absolute;
left: 15.15%;
right: 82.93%;
top: 95.81%;
bottom: 2.13%;

/* f */
background: #F4F9FE;


/* Group */

position: absolute;
left: 16%;
right: 83.78%;
top: 97.32%;
bottom: 2.48%;



/* Vector */

position: absolute;
left: 16%;
right: 83.78%;
top: 97.32%;
bottom: 2.48%;

/* f */
background: #F4F9FE;


/* Group */

position: absolute;
left: 15.99%;
right: 83.76%;
top: 96.52%;
bottom: 2.81%;



/* Vector */

position: absolute;
left: 15.99%;
right: 83.76%;
top: 96.52%;
bottom: 2.81%;

/* f */
background: #F4F9FE;


/* Más Información */

position: absolute;
width: 186px;
height: 23px;
left: calc(50% - 186px/2 - 362px);
top: 336px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 26px;
text-decoration-line: underline;

color: #000F74;



/* Group 1572 */

position: absolute;
width: 444px;
height: 99.72px;
left: calc(50% - 444px/2);
top: 35px;



/* Rectangle 869 */

position: absolute;
width: 376.43px;
height: 33.09px;
left: calc(50% - 376.43px/2 + 0.3px);
top: 35px;

background: #D500F9;


/* Construye tu proyecto con */

position: absolute;
width: 325px;
height: 29px;
left: calc(50% - 325px/2 + 0.38px);
top: 36.84px;

font-family: 'Work Sans';
font-style: normal;
font-weight: 500;
font-size: 24.8199px;
line-height: 29px;
text-align: center;

color: #FFFFFF;



/* Rectangle 673 */

position: absolute;
left: 33.75%;
right: 33.77%;
top: 5.16%;
bottom: 89.74%;

background: #74D9F9;


/* DemocraciaKit */

position: absolute;
left: 33.75%;
right: 33.75%;
top: 6.27%;
bottom: 91.17%;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 50.7302px;
line-height: 109%;
/* or 55px */
display: flex;
align-items: center;
text-align: center;

color: #000F74;



/* Group 1575 */

position: absolute;
width: 372.24px;
height: 63.77px;
left: calc(50% - 372.24px/2 + 0.12px);
top: 1099px;

filter: drop-shadow(0px 0px 8.03089px rgba(0, 0, 0, 0.25));


/* AbreAlcaldías< */

position: absolute;
left: 36.38%;
right: 36.37%;
top: 83.7%;
bottom: 13.77%;

background: #FFFFFF;


/* Un proyecto de Ciudadanía Inteligente */

position: absolute;
width: 363px;
height: 19px;
left: 504.39px;
top: 1143.77px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */
text-align: center;

color: #FFFFFF;



/* Group 1573 */

position: absolute;
width: 242px;
height: 90.58px;
left: 997px;
top: 1072px;



/* Vector */

position: absolute;
left: 74.95%;
right: 22.69%;
top: 85.94%;
bottom: 11.48%;

background: #74D9F9;


/* Vector */

position: absolute;
left: 72.99%;
right: 23.48%;
top: 83.78%;
bottom: 12.35%;

background: #74D9F9;


/* Vector */

position: absolute;
left: 72.99%;
right: 25.13%;
top: 83.78%;
bottom: 14.16%;

background: #74D9F9;


/* Vector */

position: absolute;
left: 74.36%;
right: 24.46%;
top: 85.29%;
bottom: 13.42%;

background: #74D9F9;


/* Vector */

position: absolute;
left: 85.72%;
right: 10.55%;
top: 86.82%;
bottom: 11.46%;

background: #B1E957;


/* Vector */

position: absolute;
left: 86.57%;
right: 11.37%;
top: 84.23%;
bottom: 13.62%;

background: #B1E957;


/* Vector */

position: absolute;
left: 89.66%;
right: 9.3%;
top: 86.85%;
bottom: 11.46%;

background: #B1E957;


/* Vector */

position: absolute;
left: 88.84%;
right: 10.12%;
top: 84.26%;
bottom: 13.64%;

background: #B1E957;


/* Vector */

position: absolute;
left: 81.01%;
right: 18.49%;
top: 81.65%;
bottom: 16.78%;

background: #D500F9;


/* Vector */

position: absolute;
left: 81.01%;
right: 18.49%;
top: 85.86%;
bottom: 12.57%;

background: #D500F9;


/* Vector */

position: absolute;
left: 79.23%;
right: 19.56%;
top: 82.42%;
bottom: 16.32%;

background: #D500F9;


/* Vector */

position: absolute;
left: 82.09%;
right: 16.69%;
top: 85.4%;
bottom: 13.33%;

background: #D500F9;


/* Vector */

position: absolute;
left: 78.48%;
right: 20.01%;
top: 84.28%;
bottom: 15.19%;

background: #D500F9;


/* Vector */

position: absolute;
left: 82.53%;
right: 15.96%;
top: 84.28%;
bottom: 15.19%;

background: #D500F9;


/* Vector */

position: absolute;
left: 79.23%;
right: 19.56%;
top: 85.4%;
bottom: 13.33%;

background: #D500F9;


/* Vector */

position: absolute;
left: 82.09%;
right: 16.69%;
top: 82.42%;
bottom: 16.32%;

background: #D500F9;


/* Group 1574 */

position: absolute;
width: 236px;
height: 86.31px;
left: 124px;
top: 1086px;



/* Vector */

position: absolute;
left: 14.93%;
right: 79.87%;
top: 82.71%;
bottom: 13.08%;

background: #D500F9;


/* Vector */

position: absolute;
left: 16.64%;
right: 81.58%;
top: 83.89%;
bottom: 14.24%;

background: #D500F9;


/* Vector */

position: absolute;
left: 23.26%;
right: 75.19%;
top: 85.81%;
bottom: 12.5%;

background: #B1E957;


/* Vector */

position: absolute;
left: 21.74%;
right: 73.65%;
top: 84.2%;
bottom: 10.87%;

background: #B1E957;


/* Vector */

position: absolute;
left: 9.08%;
right: 86.46%;
top: 84.64%;
bottom: 10.72%;

background: #73CBF3;


/* Vector */

position: absolute;
left: 9.08%;
right: 86.46%;
top: 86.75%;
bottom: 12.83%;

background: #73CBF3;


/* Vector */

position: absolute;
left: 10.29%;
right: 87.67%;
top: 84.71%;
bottom: 10.72%;

background: #73CBF3;


/* Frame 3 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px 25px;
gap: 10px;

position: absolute;
width: 128px;
height: 42px;
left: 1117px;
top: 27px;

background: #B1E957;
border-radius: 20px;


/* Acceder */

width: 78px;
height: 22px;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 120%;
/* identical to box height, or 22px */
text-align: right;

color: #000F74;

text-shadow: 0px 0px 14.8148px rgba(0, 0, 0, 0.25);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* < Volver a AbreAlcaldias */

position: absolute;
width: 284px;
left: calc(50% - 284px/2 - 416px);
top: 3.05%;
bottom: 94.52%;

font-family: 'Space Mono';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;

text-shadow: 0px 0px 14.8148px rgba(0, 0, 0, 0.25);









































