{% load static %}

<!DOCTYPE html>
<html lang="es">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Democraciakit una guía práctica e interactiva creada para ayudar a personas líderes innovadores públicos a potenciar la participación ciudadana y fortalecer la democracia local en América Latina.">
    <meta name="keywords" content="Democraciakit, herramienta interactiva, participación, democracia, ciudadanía, América Latina, Latam, Latinoamérica, latinoamérica, Kit, kit, kit de democracia, Fundación Ciudadnía Inteligente, FCI, Abre Alcaldías">
    <title>FCI - {% block title %}{% endblock %}</title>
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#000F74">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <!-- Hoja de estilos css-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!-- Favicon-->
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">

    <!-- Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Font icons google-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    <!-- Font awesome-->
    <script src="https://kit.fontawesome.com/791853223d.js" crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-DLMEMZW3JN"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-DLMEMZW3JN');
</script>   

    <!-- HTMX -->

    <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/hyperscript.org@0.9.13"></script>

</head>

<body>
<header class="container-fluid">
    <nav class="navbar navbar-expand-lg" aria-label="Main Navigation">
    <section class="container-fluid portada">
        <div class="iconos-derecha col-4">
                <ul class="navbar-nav d-flex align-items-center justify-content-center w-100">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="https://abrealcaldias.org/">< Volver a AbreAlcaldías</a>
                    </li>
                </ul>
        </div>
        <div class="container col-4">
            <div class="row">
                <div class="d-flex flex-column justify-content-center align-items-center titulos-portada">
                    <p>Construye tu proyecto con</p>
                    <h1>DemocraciaKit</h1>
                </div>
            </div>
        </div>
        <div class="iconos-izquierda col-4">
            <ul class="navbar-nav d-flex align-items-center justify-content-center w-100">
                <div class="dropdown menuetapas">
                    <button class="btn btn-menuheader dropdown-toggle" type="button" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Etapas
                    </button>
                    <div class="dropdown-menu menuheader" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item menuheader" href="{% url 'contenidos:etapa1' %}">Problemas</a>
                      <a class="dropdown-item menuheader" href="{% url 'contenidos:etapa2' %}">Causas</a>
                      <a class="dropdown-item menuheader" href="{% url 'contenidos:etapa3' %}">Objetivos</a>
                      <a class="dropdown-item menuheader" href="{% url 'contenidos:etapa4' %}">Contexto</a>
                      <a class="dropdown-item menuheader" href="{% url 'contenidos:etapa5' %}">Decisión</a>
                      <a class="dropdown-item menuheader" href="{% url 'contenidos:etapa6' %}">Empoderar</a>
                      <a class="dropdown-item menuheader" href="{% url 'contenidos:etapa7' %}">Evaluar</a>
                    </div>
                </div>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contenidos:mikit' %}">Mi Kit</a>
                </li>
                <li class="nav-item">
                    {% if user.is_authenticated %}
                    <a href="{% url 'users:profile' %}" class="btn-rueda">
                    Mi Perfil</a> <a class="nav-link" href="{% url 'contenidos:logout' %}">Salir</a>
                    {% else %}
                    <a class="nav-link" href="{% url 'contenidos:index' %}">Inicio</a>
                    {% endif %}
                </li>
            </ul>
        </div>
    </section>
    </nav>
</header>

    {% block content %}
    {% endblock %}

    <footer class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-3 col-md-3 col-lg-3 enlaces-rrss">
                         <ul class="justify-content-center">
                            <li><a href="mailto:info@ciudadaniai.org">¡Queremos conocer tu opinión!</a></li>
                        </ul>
                     
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-6 enlaces-rrss">
                    <ul class="justify-content-center">
                        <li class="logotipo-footer">
                            <p><span><b>Democracia</b></span>Kit<b>&lt;</b></p>
                        </li>
                        <li><a href="https://gitlab.com/ciudadaniai" target="_blank"><i class="fa-brands fa-github" aria-hidden="true"></i></a></li>
                            <li><a href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank"><i class="fa-brands fa-creative-commons" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 creditos-fci">
                    <p>Un proyecto de</p>
                    <a href="https://ciudadaniai.org/" target="_blank"><img src="/static/img/logo-fci.svg" alt="logotipo de fundación Ciudadanía Inteligente" class="logo-fci"></a>
                </div>
            </div>
        </div>
    </footer>
  
  <!-- JavaScript -->
  <script src="{% static 'js/bootstrap.bundle.min.js' %}" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
 <script>
      document.addEventListener('DOMContentLoaded', function() {
          var dropdownToggle = document.getElementById('navbarDropdown');
          dropdownToggle.addEventListener('click', function(e) {
              var dropdownMenu = this.nextElementSibling;
              dropdownMenu.classList.toggle('show');
          });
      });
  </script>
</body>
