{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit de AbreAlcaldías - Privacidad{% endblock %}

{% block content %}
<main>
   
    <section class="volver-herramientas container">
        <div class="row">
            <div class="col-12">
                <br>
                <br>
                <a href="{% url 'contenidos:index' %}"> &lt; Volver al inicio </a>
            </div>
        </div>
    </section>
    <section class="frase">
        <div class="container">
           
                    <h2 class="text-center">Privacidad, confidencialidad y seguridad</h2>

                    <p><a href="{% url 'contenidos:mikit' %}" target="_blank">Mi Kit</a>
<p>En DemocraciaKit y Fundación Ciudadanía Inteligente, valoramos tu privacidad y nos comprometemos a proteger tus datos personales.  Nos tomamos muy en serio la seguridad de tu información y queremos asegurarte que la manejamos con el mayor cuidado y responsabilidad.</p>
<p><b>¿Cómo protegemos tus datos?</b></p>
<p>Recopilación mínima: Solo recopilamos la información necesaria para brindarte nuestros servicios de manera efectiva, en el marco de la aplicación de DemocraciaKit.</p>
<p>Almacenamiento seguro: Implementamos medidas de seguridad avanzadas para proteger tus datos contra accesos no autorizados, pérdida o alteración. Esta plataforma está alojada en un servidor de la Fundación, no en un hosting compartido de ningún tipo.</p>
<p>Uso responsable: Utilizamos tus datos únicamente para los fines especificados en DemocraciaKit, y <b>nunca</b> los compartiremos con terceros. Tampoco te preguntaremos, en el futuro, si los podemos utilizar para otros fines, no te pediremos permiso para nada. Tus datos y tu identidad te pertenecen solo a ti.</p>
<p>No usaremos tus datos para spam de ningún tipo, ni a través de e-mail o de redes sociales.</p>

<p><b>Tu confianza es importante para nosotros</b></p>
<p>Creemos que parte de la crisis de confianza actual en todo tipo de instituciones, privadas y públicas, tiene que ver con un uso inadecuado de los datos personales de los ciudadanos.</p>

<p>Tu confianza es importante para nosotros</p>

<p>Queremos que te sientas segur@ al utilizar nuestros servicios. Si tienes alguna pregunta o inquietud sobre cómo manejamos tus datos, <a href="mailto:escuelavirtual@ciudadaniai.org">no dudes en contactarnos</a>. Estamos aquí para ayudarte.</p>
                </div>
            </div>
        </div>
        <div class="img">
            <img src="{% static 'img/collage-personas.png' %}" class="collage-personas" alt="Imagen tipo collage decorativa de personas trabajando en un proyecto público" width="100%" />
        </div>
    </section>

</main>
{% endblock %}
