{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #3: Obejtivos - Sombreros para pensar{% endblock %}

{% block content %}
<main>
    
<section class="accesos-directos">
    <a href="{% url 'users:profile' %}" class="btn-rueda">{% if user.is_authenticated %}{{ user.frase }}{% endif %}  <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt=""></a>
    <a href="{% url 'contenidos:mikit' %}" class="btn-kit">Mi Kit <img src="{% static 'img/icono-kit.png' %}" class="icono" alt=""></a>
</section>


<section class="container header-section">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Toolkit</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Etapas</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:etapa3' %}">Etapa #3</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sombreros para pensar</li>
                </ol>
            </nav>
        </div>
    </div>
</section>


<section class="volver-herramientas container">
    <div class="row">
        <div class="col-12">
            <!--Esta parte deberia poder programarse para que siempre vuelva a la herramienta correspondiente a la etapa que se esta navegando-->
            <a href="{% url 'contenidos:etapa3' %}"> &lt; Volver a herramientas </a>
        </div>
    </div>
</section>


<section class="seccion-herramienta container">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-4 col-lg-3 etapa-numero">
            <div class="alinear">

                <!--Acá se va a simular la información en función de la etapa 1-->

                <!--La imagen de la etapa debe ser seleccionada a través de las imagenes cargadas en la carpeta img que sigan la misma nomenclatura, solo que cambia el numero en función de la rueda y sus etapas-->
                <img src="{% static 'img/etapa-numero-3.png' %}" alt="Etapa 3 Objetivo">
                <h3>Objetivo</h3>
            </div>
            <h2 class="pregunta">¿Cuál es nuestro <span>objetivo</span>?</h2>
        </div>


        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
            <div class="definicion">

                <!-- aca simulare las tres tipologias juntas, pero en efecto siempre una herramienta se mostrará solo por una de estas tres tipologías, pero siempre declará en esta zona la tipología para dar mayor información al usuario de lo que esta revisando-->
                <h4 class="metodologias">Metodologías</h4>

                <h3>Sombreros para pensar</h3>
                <p>Esta técnica permite incluir en una discusión una gran <strong>variedad de puntos de vista y  perspectivas.</strong> Es una técnica motiva a las personas a analizar el desafío desde distintos enfoques que estimulan la conversación. La metodología se sigue de la siguiente manera. </p>
                <ul>
                    <li>Cada sombrero <strong>representa un punto de vista particular</strong>, para ello, una opción es que todos “se coloquen” el sombrero <strong>al mismo tiempo</strong>, seleccionando uno de ellos de forma aleatoria y pidiendo que todos contribuyan desde ese punto de vista en particular. </li>
                    <li>La otra opción, es que <strong>cada participante</strong> del grupo “se coloque” un sombrero distinto, de manera tal que el desafío sea discutido desde múltiples puntos de vista. </li>
                    <li>Los sombreros <strong>pueden variar</strong> según las necesidades, pero lo más comunes son: emocional, lógico, creativo, cauteloso, controlador y neutral. También puede <strong>representar perfiles</strong> de personas: Empresario, estudiante, trabajador, adulto mayor, madre trabajadora, activista, etc.</li>
                    <li>Una vez definido cuáles serán los sombreros, y la forma de utilizarlos, se establece un tiempo en el que el equipo contribuirá con <strong>ideas desde ese rol o perfil</strong>, las cuales deben registrarse.</li>
                    <li>Luego pueden cambiar de sombreros, y realizar tantas rondas como se estime necesario.</li>
                </ul>
            </div>
        </div>
        
        <!-- <section class="componente-interactivo-form container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 titulo">
                        <h4>¡Ahora tu!</h4>
                        <p>Descarga el recuadro y redacta tu objetivo</p>
                    </div>
                    <div class="col-12 btn-descargar">
                        <a href="#" class="btn-democraciakit">Descargar</a>
                    </div>
                </div>
            </div>
        </section> -->


<section class="anadir-al-kit container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 contenido">
           <img src="{% static 'img/anadir-al-kit.png' %}" alt="icono que referencia añadir al kit">
           <h4>Avanzar</h4>
            <p>Si completaste esta etapa puedes avanzar y sumar los materiales a tu kit descargable. Siempre puedes volver a revisar los contenidos de todas las etapas.</p>
            <p><input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Marca si terminaste la etapa
                </label>
                <div class="invalid-feedback">
                    Debes marcar para guardar tu avance y recolectar los materiales
                </div>
            </p>
            <a href="{% url 'contenidos:etapa4' %}"><button class="btn-democraciakit">Añadir y avanzar</button></a>
            <!-- <a href="#" class="btn-democraciakit">Añadir y avanzar</a> -->
        </div>
    </div>
</section>

</main>

{% endblock %}
