{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #2: Causas - Identificación{% endblock %}

{% block content %}
<main>
   <section class="accesos-directos">
        <a href="{% url 'users:profile' %}" class="btn-rueda">{% if user.is_authenticated %}{{ user.frase }}{% endif %}  <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt="Entrar a mi perfil"></a>
        <a href="{% url 'contenidos:mikit' %}" class="btn-kit">Mi Kit <img src="{% static 'img/icono-kit.png' %}" class="icono" alt="Entrar a mi kit"></a>
    </section>

    <section class="container header-section">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Toolkit</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Etapas</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:etapa2' %}">Etapa #2</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Identificación de causas</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <section class="volver-herramientas container">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'contenidos:etapa2' %}"> &lt; Volver a herramientas </a>
            </div>
        </div>
    </section>

    <section class="seccion-herramienta container">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-4 col-lg-3 etapa-numero">
                <div class="alinear">

                    <!--Acá se va a simular la información en función de la etapa 1-->

                    <!--La imagen de la etapa debe ser seleccionada a través de las imagenes cargadas en la carpeta img que sigan la misma nomenclatura, solo que cambia el numero en función de la rueda y sus etapas-->
                    <img src="{% static 'img/etapa-numero-2.png' %}" alt="Etapa 2 Causas">
                    <h3>Causas</h3>
                </div>
                <h2 class="pregunta">¿Cuáles son las <span>causas</span> del problema?</h2>
            </div>


            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="definicion">

                    <h4 class="recomendacion">Recomendación</h4>

                    <h3>Identificar las causas</h3>
                    <p>Al igual que cuando sufres un dolor de cabeza y este es síntoma de algo más grande como deshidratación, un resfriado, o un mal sueño, los problemas sociales o dolores también son causados por situaciones más profundas. Es decir, será necesario identificar la causa es la  que da origen al problema fin de proponer una solución efectiva. La causa se entiende como "El por qué" y responde a la pregunta: ¿Por qué existe "el qué"?</p>
                </div>
            </div>
        </div>
    </section>

    <section class="visualizacion-ejemplo container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 titulo">
                <h4>Ejemplo</h4>
            </div>

            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="ejemplo">
                    <p>En 2022, los rellenos sanitarios de las comunas de Talcahuano, Hualpén y Lota generaron  una emergencia sanitaria en el territorio porque (...)</p>
                    <ul>
                        <li>Difusión de enfermedades</li>
                        <li>Ambiente poco habitable</li>
                        <li>Colapso del relleno sanitario</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="visualizacion-ejemplo container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 titulo">
                <h4>Ejemplo</h4>
            </div>

            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="ejemplo">
                    <p>En ciertos escenarios es posible hacer una priorización de las causas. En nuestro ejemplo, podríamos inferir que la causa tres influye en gran medida a las otras dos. Si la priorizamos, podemos identificar cuál es la razón por la cual se genera: La causa de las causas</p>
                    <p>El colapso del relleno sanitario se da porque (...)</p>
                    <ul>
                        <li>Pocos incentivos para que la comunidad realice separación de residuos (orgánico e inorgánico, reciclables y de un sólo uso) lo que genera exceso de residuos en el relleno sanitario</li>
                        <li>No hay información de acciones que puede tener la ciudadanía para disminuir el nivel de residuos</li>
                        <li>Empresas del territorio generan cantidades de residuos demasiado elevadas</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="visualizacion-pregunta container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 pregunta">
                <h4>¿Qué nos aporta identificar las causas?</h4>
            </div>

            <div class="col-12 col-sm-12 col-md-8 col-lg-9 definicion">
                <p>Trabajar a partir de las causas implica <b>necesariamente</b> un entendimiento mayor del problema, y por ende, tendremos opciones de soluciones más atingentes y efectivas. Las opciones que podemos implementar tendrán una relación causa y efecto más clara.</p>
            </div>
        </div>
    </section>

    <section id="formulario-container" class="componente-interactivo-form container-fluid">

        <div class="container">
            <div class="row">
                <div class="col-12 titulo">
                    <h4>¡Ahora tu!</h4>
                    <p>Sigue la tabla de redacción de problema para generar tu propia formulación inicial</p>
                </div>

                <div class="col-12 tabla">
                    {% if messages %}
                    <div class="messages">
                        {% for message in messages %}
                        <div {% if message.tags %} class="{{ message.tags }}"{% endif %}><div class="alert alert-light text-center" role="alert">{{ message }} Recuerda que puedes revisar <a href="{% url 'contenidos:mikit' %}">Mi Kit</a> para ver todos tus materiales guardados. DemocraciaKit sólo guardará tus respuestas más recientes.</div></div>
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% if messages %}
                    {% else %}
                    <form method="post" action="#formulario-container">
                        {% csrf_token %}
                        <table class="table table-responsive">
                            <thead>
                                <tr>
                                    <th scope="col">Causa #1</th>
                                    <th scope="col">Causa #2</th>
                                    <th scope="col">Causa #3</th>
                                    <th scope="col">Causa #4</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    {% for field in form %}
                                    <td>
                                        {{ field }}
                                    </td>
                                    {% endfor %}
                                </tr>
                            </tbody>
                        </table>
                        {% if messages %}
                        {% else %}
                        <button type="submit" class="btn-democraciakit">Guardar</button>
                        {% endif %}
                    </form>
                        {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="anadir-al-kit container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5 contenido">
               <img src="{% static 'img/anadir-al-kit.png' %}" alt="icono que referencia añadir al kit">
               <h4>Avanzar</h4>
                <p>Si completaste esta etapa puedes avanzar y sumar los materiales a tu kit descargable. Siempre puedes volver a revisar los contenidos de todas las etapas.</p>
                <p><input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Marca si terminaste la etapa
                    </label>
                    <div class="invalid-feedback">
                        Debes marcar para guardar tu avance y recolectar los materiales
                    </div>
                </p>
                <a href="{% url 'contenidos:etapa2-inclusivo' %}"><button class="btn-democraciakit">Añadir y avanzar</button></a>
                <!-- <a href="#" class="btn-democraciakit">Añadir y avanzar</a> -->
            </div>
        </div>
    </section>


</main>    
{% endblock %}
