{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #6: Empoderar - Métodos colaborativos{% endblock %}

{% block content %}
<main>
<section class="container-fluid portada">
    <div class="iconos-derecha">
        <ul>
            <li class="img-1"><img src="{% static 'img/icono-1-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-2"><img src="{% static 'img/icono-2-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-1"><img src="{% static 'img/icono-3-portada.png' %}" alt="imagen decorativa de icono"></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center titulos-portada">
                <p>Construye tu proyecto con</p>
                <h1>DemocraciaKit</h1>
            </div>
        </div>
    </div>
    <div class="iconos-izquierda">
        <ul>
            <li class="img-1"><img src="{% static 'img/icono-4-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-2"><img src="{% static 'img/icono-5-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-1"><img src="{% static 'img/icono-6-portada.png' %}" alt="imagen decorativa de icono"></li>
        </ul>
    </div>
</section>
<section class="accesos-directos">
    <a href="{% url 'users:profile' %}" class="btn-rueda">{% if user.is_authenticated %}{{ user.frase }}{% endif %}  <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt=""></a>
    <a href="{% url 'contenidos:mikit' %}" class="btn-kit">Mi Kit <img src="{% static 'img/icono-kit.png' %}" class="icono" alt=""></a>
</section>


<section class="container header-section">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Toolkit</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Rueda</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:etapa6' %}">Etapa #6</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Métodos colaborativos</li>
                </ol>
            </nav>
        </div>
    </div>
</section>


<section class="volver-herramientas container">
    <div class="row">
        <div class="col-12">
            <!--Esta parte deberia poder programarse para que siempre vuelva a la herramienta correspondiente a la etapa que se esta navegando-->
            <a href="{% url 'contenidos:etapa6' %}"> &lt; Volver a herramientas </a>
        </div>
    </div>
</section>


<section class="seccion-herramienta container">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-4 col-lg-3 etapa-numero">
            <div class="alinear">

                <!--Acá se va a simular la información en función de la etapa 1-->

                <!--La imagen de la etapa debe ser seleccionada a través de las imagenes cargadas en la carpeta img que sigan la misma nomenclatura, solo que cambia el numero en función de la rueda y sus etapas-->
                <img src="{% static 'img/etapa-numero-6.png' %}" alt="Etapa 6 Metodos colaborativos">
                <h3>Empoderar</h3>
            </div>
            <h2 class="pregunta">¿Cómo <span>empoderar</span> al territorio?</h2>
        </div>


        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
            <div class="definicion">

                <!-- aca simulare las tres tipologias juntas, pero en efecto siempre una herramienta se mostrará solo por una de estas tres tipologías, pero siempre declará en esta zona la tipología para dar mayor información al usuario de lo que esta revisando-->
                <h4 class="metodologias">Metodologías</h4>

                <h3>Métodos Colaborativos</h3>
                <ol>
                    <li class="mb-3"><strong>Laboratorios:</strong> Existen diversas metodologías donde la creación del proyecto y la posterior responsabilización de su implementación se hace de manera colaborativa entre instituciones públicas y ciudadanía. Generalmente se les conoce como Laboratorios, y suelen verse en proyectos de espacios públicos (plazas, limpieza y ordenamiento), de cuidados (espacios colaborativos de cuidado a personas mayores o niños y niñas) e incluso, de seguridad (redes de alerta y vigilancia ciudadana).<br>
                        <strong>Tip: Revisa nuestro Manual LabCívico como ejemplo de este tipo de acciones.</strong>
                    </li>

                    <li class="mb-3"><strong>Innovación Abierta:</strong> Consiste en convocatorias en las que se presenta un desafío público para que todas las personas puedan contribuir con sus ideas de solución. Estas instancias permiten generar participación ciudadana activa, estableciendo espacios de diálogo y retroalimentación.<br> Consideran un proceso de filtro en el cual las iniciativas que se presentan van siendo priorizadas, para finalmente llegar a un número determinado de soluciones que serán implementadas.</li>

                    <li class="mb-3"><strong>Prototipados:</strong> A veces la descripción de una idea puede poseer diversas interpretaciones para las personas, y esto se evidencia tiempo después, cuando emergen las diferencias en torno a lo que se está implementando.<br> En ese escenario, el prototipo ayuda a darle tangibilidad a las ideas, permitiendo alinear a todas las personas respecto a lo que se está abordando.</li>
                    <img src="{% static 'img/visualizacion-prototipos.png' %}" alt="visualización de prototipo" class="visualizacion-prototipo">

                    <p><strong>Características de los prototipos:</strong></p>
                    <ul>
                        <li>Al ser algo tangible permite comunicar de mejor manera una idea.</li>
                        <li>Permite testear la utilidad de las ideas.</li>
                        <li>Implica ponerse a prueba con usuarios/as. El aprendizaje se obtiene al construir un nuevo prototipo que integra cambios (iteración).</li>
                        <li>Para realizar un prototipo primero se debe seleccionar qué prototipar, escogiendo los componentes más críticos de la solución, reconociendo lo más relevantes para abordar el desafío.</li>
                        <li>Algo similar y común dentro del sector público realizar pilotos. Sin embargo, los pilotos a menudo se considera la primera fase de una política o lanzamiento y no está igual de abierto a re-pensarse e integrar aprendizajes</li>
                    </ul>
                </ol>
            </div>
        </div>
    </div>
</section>


<section class="anadir-al-kit container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 contenido">
           <img src="{% static 'img/anadir-al-kit.png' %}" alt="icono que referencia añadir al kit">
           <h4>Avanzar</h4>
            <p>Si completaste esta etapa puedes avanzar y sumar los materiales a tu kit descargable. Siempre puedes volver a revisar los contenidos de todas las etapas.</p>
            <p><input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Marca si terminaste la etapa
                </label>
                <div class="invalid-feedback">
                    Debes marcar para guardar tu avance y recolectar los materiales
                </div>
            </p>
            <a href="{% url 'contenidos:etapa6-casos' %}"><button class="btn-democraciakit">Añadir y avanzar</button></a>
            <!-- <a href="#" class="btn-democraciakit">Añadir y avanzar</a> -->
        </div>
    </div>
</section>

</main>

{% endblock %}