{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #4: Contexto{% endblock %}

{% block content %}
<main>
    
    <!-- accesos directos -->
    <section class="accesos-directos">
        <a href="{% url 'users:profile' %}" class="btn-rueda">{% if user.is_authenticated %}{{ user.frase }}{% endif %}  <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt="Entrar a mi perfil"></a>
        <a href="{% url 'contenidos:mikit' %}" class="btn-kit">Mi Kit <img src="{% static 'img/icono-kit.png' %}" class="icono" alt="Entrar a mi kit"></a>
    </section>

    <section class="container header-section">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Toolkit</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Etapas</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Etapa #4</li>
                    </ol>
                </nav>
                <div class="alinear">
                    <img src="{% static 'img/etapa-numero-4.png' %}" alt="Etapa #4 Contexto">
                    <h3>Contexto</h3>
                </div>
                <h2>Si ya tienes tus objetivos definidos, es posible comenzar a pensar en los factores que influyen en tu capacidad de alcanzarlos</span></h2> 
                <p>Revisa estos insumos y trabájalos con tu grupo</p>
            </div>
        </div>
    </section>

    <section class="container herramientas">
        <div class="row">
            <div class="col-12 tipologias-herramientas">
                <ul>
                    <li>
                        <p>Tipo de herramienta:</p>
                    </li>
                    <li>
                        <div class="circulo circulo-rosado"></div>
                        <p class="tipologia">Metodologías</p>
                    </li>
                    <!-- <li>
                        <div class="circulo circulo-celeste"></div>
                        <p class="tipologia">Recomendaciones</p>
                    </li> -->
                    <!-- <li>
                        <div class="circulo circulo-verde"></div>
                        <p class="tipologia">Casos de éxito</p>
                    </li> -->
                </ul>
            </div>
        </div>

        <div class="row herramientas">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 box-herramienta">
                <div class="box metodologias">
                    <div class="content">
                        <p>Proyección del cambio</p>
                    </div>
                    <div class="hover-box">
                        <a href="{% url 'contenidos:etapa4-proyeccion' %}" class="revisar-link">Revisar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 box-herramienta">
                <div class="box metodologias">
                    <div class="content">
                        <p>Mapa de actores</p>
                    </div>
                    <div class="hover-box">
                        <a href="{% url 'contenidos:etapa4-mapaactores' %}" class="revisar-link">Revisar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 box-herramienta">
                <div class="box metodologias">
                    <div class="content">
                        <p>Oportunidades y amenazas</p>
                    </div>
                    <div class="hover-box">
                        <a href="{% url 'contenidos:etapa4-oportunidades' %}" class="revisar-link">Revisar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 box-herramienta">
                <div class="box metodologias">
                    <div class="content">
                        <p>Eventos y acciones</p>
                    </div>
                    <div class="hover-box">
                        <a href="{% url 'contenidos:etapa4-eventos' %}" class="revisar-link">Revisar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 box-herramienta"><br>
                <div class="box metodologias">
                    <div class="content">
                        <p>Plan de trabajo</p>
                    </div>
                    <div class="hover-box">
                        <a href="{% url 'contenidos:etapa4-plandetrabajo' %}" class="revisar-link">Revisar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container frase-herramientas-destacada">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                <h4>Revisa y comparte tu aprendizaje</h4>
            </div>
        </div>
    </section>
        
    <section class="container-fluid siguiente-nivel">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-8 col-lg-9 informacion">
                    <div class="titulo"><h4>Siguiente nivel:</h4></div>
                    <div class="alinear">
                        <img src="{% static 'img/etapa-numero-5.png' %}" alt="Nivel 4: Contexto" class="img-etapa">
                        <h4>Decidir</h4>
                    </div>
                    <div class="contenido">
                        <p>En esta etapa, aprende sobre retroalimentación y su importancia.</p>
                        <a href="{% url 'contenidos:etapa5' %}" class="btn-democraciakit">Ir a decidir</a>
                    </div>
                </div>
            </div>
        </div>
        <img src="{% static 'img/rueda-decorativa-esquina-5.png' %}" alt="rueda como elemento decorativo que muestra el nivel que sigue" class="rueda-decorativa">
    </section>

</main>
{% endblock %}

