{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #: Evaluar{% endblock %}

{% block content %}
<main>
    
    <!-- accesos directos -->
    <section class="accesos-directos">
        <a href="{% url 'users:profile' %}" class="btn-rueda">{% if user.is_authenticated %}{{ user.frase }}{% endif %}  <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt="Entrar a mi perfil"></a>
        <a href="{% url 'contenidos:mikit' %}" class="btn-kit">Mi Kit <img src="{% static 'img/icono-kit.png' %}" class="icono" alt="Entrar a mi kit"></a>
    </section>

    <section class="container header-section">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Toolkit</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Rueda</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Etapa #7</li>
                    </ol>
                </nav>
                <div class="alinear">
                    <img src="{% static 'img/etapa-numero-7.png' %}" alt="Etapa #4 Contexto">
                    <h3>Evaluar</h3>
                </div>
                <h2>¡Actualiza la solución de tu proyecto! Asegura el cumplimiento de tus objetivos y revisa si las respuestas continúan abordando el problema, a través de acciones de evaluación de proyectos.</h2> 
                <p>Revisa estos insumos y añádelos a tu kit</p>
            </div>
        </div>
    </section>

    <section class="container herramientas">
        <div class="row">
            <div class="col-12 tipologias-herramientas">
                <ul>
                    <li>
                        <p>Tipo de herramienta:</p>
                    </li>
                    <li>
                        <div class="circulo circulo-rosado"></div>
                        <p class="tipologia">Metodologías</p>
                    </li>
                    <li>
                        <div class="circulo circulo-celeste"></div>
                        <p class="tipologia">Recomendaciones</p>
                    </li>
                    <li>
                        <div class="circulo circulo-verde"></div>
                        <p class="tipologia">Casos de éxito</p>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row herramientas">
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 box-herramienta">
                <div class="box recomendaciones">
                    <div class="content">
                        <p>Acciones de evaluación</p>
                    </div>
                    <div class="hover-box">
                        <a href="{% url 'contenidos:etapa7-evaluacion' %}" class="revisar-link">Revisar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 box-herramienta">
                <div class="box metodologias">
                    <div class="content">
                        <p>Indicadores</p>
                    </div>
                    <div class="hover-box">
                        <a href="{% url 'contenidos:etapa7-indicadores' %}" class="revisar-link">Revisar</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 box-herramienta">
                <div class="box casos-de-exito">
                    <div class="content">
                        <p>Casos de éxito</p>
                    </div>
                    <div class="hover-box">
                        <a href="{% url 'contenidos:etapa7-exito' %}" class="revisar-link">Revisar</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container frase-herramientas-destacada">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-8 col-lg-6">
                <h4>Revisa y comparte tu aprendizaje</h4>
            </div>
        </div>
    </section>
        

    

</main>    
{% endblock %}

</main>    
{% endblock %}
