{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #4: Contexto - Eventos y acciones{% endblock %}

{% block content %}
<main>
<section class="container-fluid portada">
    <div class="iconos-derecha">
        <ul>
            <li class="img-1"><img src="{% static 'img/icono-1-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-2"><img src="{% static 'img/icono-2-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-1"><img src="{% static 'img/icono-3-portada.png' %}" alt="imagen decorativa de icono"></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center titulos-portada">
                <p>Construye tu proyecto con</p>
                <h1>DemocraciaKit</h1>
            </div>
        </div>
    </div>
    <div class="iconos-izquierda">
        <ul>
            <li class="img-1"><img src="{% static 'img/icono-4-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-2"><img src="{% static 'img/icono-5-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-1"><img src="{% static 'img/icono-6-portada.png' %}" alt="imagen decorativa de icono"></li>
        </ul>
    </div>
</section>
<section class="accesos-directos">
    <a href="{% url 'users:profile' %}" class="btn-rueda">{% if user.is_authenticated %}{{ user.frase }}{% endif %}  <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt=""></a>
    <a href="{% url 'contenidos:mikit' %}" class="btn-kit">Mi Kit <img src="{% static 'img/icono-kit.png' %}" class="icono" alt=""></a>
</section>


<section class="container header-section">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Toolkit</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Rueda</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:etapa4' %}">Etapa #4</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Eventos y acciones</li>
                </ol>
            </nav>
        </div>
    </div>
</section>


<section class="volver-herramientas container">
    <div class="row">
        <div class="col-12">
            <!--Esta parte deberia poder programarse para que siempre vuelva a la herramienta correspondiente a la etapa que se esta navegando-->
            <a href="{% url 'contenidos:etapa4' %}"> &lt; Volver a herramientas </a>
        </div>
    </div>
</section>


<section class="seccion-herramienta container">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-4 col-lg-3 etapa-numero">
            <div class="alinear">

                <!--Acá se va a simular la información en función de la etapa 1-->

                <!--La imagen de la etapa debe ser seleccionada a través de las imagenes cargadas en la carpeta img que sigan la misma nomenclatura, solo que cambia el numero en función de la rueda y sus etapas-->
                <img src="{% static 'img/etapa-numero-4.png' %}" alt="Etapa 4 Contexto">
                <h3>Contexto</h3>
            </div>
            <h2 class="pregunta">¿En que <span>contextos</span> vamos a actuar?</h2>
        </div>


        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
            <div class="definicion">

                <!-- aca simulare las tres tipologias juntas, pero en efecto siempre una herramienta se mostrará solo por una de estas tres tipologías, pero siempre declará en esta zona la tipología para dar mayor información al usuario de lo que esta revisando-->
                <h4 class="metodologias">Metodologías</h4>

                <h3>Eventos y acciones </h3>
                <p>Finalmente, pensando en que el inicio de la línea de tiempo es el día de hoy, ¿Qué eventos, fuera de nuestro control, van a suceder y pueden impactar en nuestro plan de trabajo? Por ejemplo: Elecciones, festividades, vacaciones, marchas, conmemoraciones, etc.</p>
            </div>
        </div>

    </div>
</section>
       
       <!--Componente: Tabla 1 todo en linea por definición -->
        <section class="componente-interactivo-form container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 titulo">
                        <h4>¿Qué acciones podemos realizar para avanzar hacia lograr nuestros objetivos?</h4>
                        <p>Te recomendamos pensar en acciones y eventos para 3 a 6 meses en el futuro.</p>
                    </div>

                    <div class="col-12 tabla">
                        <form>
                            <table class="table table-responsive">
                                <tbody>
                                    <tr>
                                        <td class="influencia">Eventos</td>
                                        <td><textarea class="form-control" rows="3" placeholder="Escribir aquí"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td class="influencia">Acciones</td>
                                        <td><textarea class="form-control" rows="3" placeholder="Escribir aquí"></textarea></td>
                                    </tr>
                                </tbody>
                            </table>

                            <button type="submit" class="btn-democraciakit">Guardar</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>

        <!-- <section class="componente-interactivo-form container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 titulo">
                        <h4>¡Ahora tu!</h4>
                        <p>Descarga el esquema y completa cada sección de la Proyección del Cambio</p>
                    </div>
                    <div class="col-12 btn-descargar">
                        <a href="#" class="btn-democraciakit">Descargar</a>
                    </div>
                </div>
            </div>
        </section> -->


<section class="anadir-al-kit container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 contenido">
           <img src="{% static 'img/anadir-al-kit.png' %}" alt="icono que referencia añadir al kit">
           <h4>Avanzar</h4>
            <p>Si completaste esta etapa puedes avanzar y sumar los materiales a tu kit descargable. Siempre puedes volver a revisar los contenidos de todas las etapas.</p>
            <p><input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Marca si terminaste la etapa
                </label>
                <div class="invalid-feedback">
                    Debes marcar para guardar tu avance y recolectar los materiales
                </div>
            </p>
            <a href="{% url 'contenidos:etapa4-plandetrabajo' %}"><button class="btn-democraciakit">Añadir y avanzar</button></a>
            <!-- <a href="#" class="btn-democraciakit">Añadir y avanzar</a> -->
        </div>
    </div>
</section>

</main>

{% endblock %}