{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #1: Problemas - Conceptos iniciales{% endblock %}

{% block content %}
<main>
<section class="container-fluid portada">
    <div class="iconos-derecha">
        <ul>
            <li class="img-1"><img src="{% static 'img/icono-1-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-2"><img src="{% static 'img/icono-2-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-1"><img src="{% static 'img/icono-3-portada.png' %}" alt="imagen decorativa de icono"></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center titulos-portada">
                <p>Construye tu proyecto con</p>
                <h1>DemocraciaKit</h1>
            </div>
        </div>
    </div>
    <div class="iconos-izquierda">
        <ul>
            <li class="img-1"><img src="{% static 'img/icono-4-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-2"><img src="{% static 'img/icono-5-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-1"><img src="{% static 'img/icono-6-portada.png' %}" alt="imagen decorativa de icono"></li>
        </ul>
    </div>
</section>
<!-- accesos directos -->
<section class="accesos-directos">
    <a href="{% url 'users:profile' %}" class="btn-rueda">Perfil <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt="Entrar a mi perfil"></a>
    <a href="{% url 'contenidos:mikit' %}" class="btn-kit"><img src="{% static 'img/icono-kit.png' %}" class="icono" alt="Entrar a mi kit"> Mi Kit</a>
</section>

<section class="container header-section">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Toolkit</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Rueda</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:etapa1' %}">Problemas</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Conceptos iniciales</li>
                </ol>
            </nav>
            <div class="alinear">
                <img src="{% static 'img/etapa-numero.png' %}" alt="Etapa 1 Problemas">
                <h3>Problemas</h3>
            </div>
            <h2>¿Qué <span>problema</span> vamos a solucionar?</h2>
            <p>Revisa estos insumos y añádelos a tu kit</p>
        </div>
    </div>
</section>
<section class="volver-herramientas container">
    <div class="row">
        <div class="col-12">
            <a href="{% url 'contenidos:etapa1' %}"> &lt; Volver a herramientas </a>
        </div>
    </div>
</section>


<section class="seccion-herramienta container">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-4 col-lg-4 etapa-numero">
            <div class="alinear">
                <img src="{% static 'img/etapa-numero.png' %}" alt="Etapa 1 Problemas">
                <h3>Problemas</h3>
            </div>
            <h2 class="pregunta">¿Qué <span>problema</span> vamos a solucionar?</h2>
        </div>


        <div class="col-12 col-sm-12 col-md-4 col-lg-8">
            <div class="definicion">
                <h4 class="recomendacion">Recomendaciones</h4>
                <h3>Conceptos iniciales</h3>
                <p>Antes de comenzar a definir hay algunos conceptos clave que debes considerar:</p>
            </div>
        </div>

    </div>
</section>


<section class="visualizacion-post-it container">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 post-it">
            <div class="numero bg-verde">
                <p>1</p>
            </div>
            <div class="contenido bg-verde-light">
                <h4>El qué</h4>
                <p>Es el problema que queremos abordar.</p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 post-it abajo">
            <div class="numero bg-naranjo">
                <p>2</p>
            </div>
            <div class="contenido bg-naranjo-light">
                <h4>El cómo</h4>
                <p>Se refiere al motivo que da origen a nuestro problema.</p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 post-it">
            <div class="numero bg-rosado">
                <p>3</p>
            </div>
            <div class="contenido bg-rosado-light">
                <h4>El porqué</h4>
                <p>Es la estrategia que desarrollaremos para abordar nuestro problema.</p>
            </div>
        </div>

        <div class="col-12 col-sm-12 col-md-6 col-lg-3 post-it abajo">
            <div class="numero bg-celeste">
                <p>4</p>
            </div>
            <div class="contenido bg-celeste-light">
                <h4>El para qué</h4>
                <p>Es el resultado, es decir, el efecto de la incidencia diseñada.</p>
            </div>
        </div>

    </div>
</section>


<section class="visualizacion-texto-centrado container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-12 col-md-10 col-lg-8">
            <p>En esta etapa se hará la primera aproximación al qué, es decir, la formulación inicial del problema que será profundizado en las siguientes fases.</p>
        </div>
    </div>
</section>


<section class="anadir-al-kit container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 contenido">
           <img src="{% static 'img/anadir-al-kit.png' %}" alt="icono que referencia añadir al kit">
           <h4>Avanzar</h4>
            <p>Si completaste esta etapa puedes avanzar y sumar los materiales a tu kit descargable. Siempre puedes volver a revisar los contenidos de todas las etapas.</p>
            <p><input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Marca si terminaste la etapa
                </label>
                <div class="invalid-feedback">
                    Debes marcar para guardar tu avance y recolectar los materiales
                </div>
            </p>
            <button class="btn-democraciakit" type="submit">Añadir y avanzar</button>
            <!-- <a href="#" class="btn-democraciakit">Añadir y avanzar</a> -->
        </div>
    </div>
</section>


</main>

{% endblock %}