{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #1: Problemas - Conceptos iniciales{% endblock %}

{% block content %}
<main>

  <section class="accesos-directos">
    <a href="{% url 'users:profile' %}" class="btn-rueda">{% if user.is_authenticated %}{{ user.frase }}{% endif %}  <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt=""></a>
    <a href="{% url 'contenidos:mikit' %}" class="btn-kit">Mi Kit <img src="{% static 'img/icono-kit.png' %}" class="icono" alt=""></a>
  </section>


  <section class="container header-section">
    <div class="row">
      <div class="col-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Toolkit</a></li>
            <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Etapas</a></li>
            <li class="breadcrumb-item"><a href="{% url 'contenidos:etapa1' %}">Etapa #1</a></li>
            <li class="breadcrumb-item active" aria-current="page">Conceptos iniciales</li>
          </ol>
        </nav>
      </div>
    </div>
  </section>


  <section class="volver-herramientas container">
    <div class="row">
      <div class="col-12">
        <!--Esta parte deberia poder programarse para que siempre vuelva a la herramienta correspondiente a la etapa que se esta navegando-->
        <a href="{% url 'contenidos:etapa1' %}"> &lt; Volver </a>
      </div>
    </div>
  </section>


  <section class="seccion-herramienta container">
    <div class="row">

      <div class="col-12 col-sm-12 col-md-4 col-lg-3 etapa-numero">
        <div class="alinear">

          <!--Acá se va a simular la información en función de la etapa 1-->

          <!--La imagen de la etapa debe ser seleccionada a través de las imagenes cargadas en la carpeta img que sigan la misma nomenclatura, solo que cambia el numero en función de la rueda y sus etapas-->
          <img src="{% static 'img/etapa-numero.png' %}" alt="Etapa 1 Problemas">
          <h3>Problemas</h3>
        </div>
        <h2 class="pregunta">¿Qué <span>problema</span> vamos a solucionar?</h2>
      </div>


      <div class="col-12 col-sm-12 col-md-8 col-lg-9">
        <div class="definicion">

          <!-- aca simulare las tres tipologias juntas, pero en efecto siempre una herramienta se mostrará solo por una de estas tres tipologías, pero siempre declará en esta zona la tipología para dar mayor información al usuario de lo que esta revisando-->
          <h4 class="recomendacion">Recomendaciones</h4>

          <h3>Conceptos para la formulación inicial</h3>
          <p>Antes de comenzar a definir hay algunos conceptos clave que debes considerar: </p>
        </div>
      </div>

    </div>
  </section>



  <!-- Componente: Post-it, para un tipo de forma de visualizar contenido para el toolkit -->

  <section class="visualizacion-post-it container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-10 post-it">

        <div class="post-elemento post-it-elemento-1">
          <div class="numero">
            <p class="bg-verde">1</p>
          </div>
          <div class="contenido bg-verde-light">
            <h4>El qué</h4>
            <p>Es el problema que queremos abordar.</p>
          </div>
        </div>

        <div class="post-elemento post-it-elemento-2">
          <div class="numero">
            <p class="bg-naranjo">2</p>
          </div>
          <div class="contenido bg-naranjo-light">
            <h4>El cómo</h4>
            <p>Se refiere al motivo que da origen a nuestro problema.</p>
          </div>
        </div>

        <div class="post-elemento post-it-elemento-1">
          <div class="numero">
            <p class="bg-rosado">3</p>
          </div>
          <div class="contenido bg-rosado-light">
            <h4>El porqué</h4>
            <p>Es la estrategia que desarrollaremos para abordar nuestro problema.</p>
          </div>
        </div>

        <div class="post-elemento post-it-elemento-2">
          <div class="numero">
            <p class="bg-celeste">4</p>
          </div>
          <div class="contenido bg-celeste-light">
            <h4>El para qué</h4>
            <p>Es el resultado, es decir, el efecto de la incidencia diseñada.</p>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!-- Componente: Mensaje adicional. Para un tipo de forma de visualizar contenido que es auxiliar o que complementa para cerrar una idea -->
  <section class="visualizacion-texto-centrado container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-12 col-md-10 col-lg-8">
        <p>En esta etapa se hará la primera aproximación al qué, es decir, la formulación inicial del problema que será profundizado en las siguientes fases.</p>
      </div>
    </div>
  </section>
<br><br>
</main>

{% endblock %}

