{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #3: Obejtivos - 3x3x3{% endblock %}

{% block content %}
<main>
<section class="container-fluid portada">
    <div class="iconos-derecha">
        <ul>
            <li class="img-1"><img src="{% static 'img/icono-1-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-2"><img src="{% static 'img/icono-2-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-1"><img src="{% static 'img/icono-3-portada.png' %}" alt="imagen decorativa de icono"></li>
        </ul>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex flex-column justify-content-center align-items-center titulos-portada">
                <p>Construye tu proyecto con</p>
                <h1>DemocraciaKit</h1>
            </div>
        </div>
    </div>
    <div class="iconos-izquierda">
        <ul>
            <li class="img-1"><img src="{% static 'img/icono-4-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-2"><img src="{% static 'img/icono-5-portada.png' %}" alt="imagen decorativa de icono"></li>
            <li class="img-1"><img src="{% static 'img/icono-6-portada.png' %}" alt="imagen decorativa de icono"></li>
        </ul>
    </div>
</section>
<section class="accesos-directos">
    <a href="{% url 'users:profile' %}" class="btn-rueda">{% if user.is_authenticated %}{{ user.frase }}{% endif %}  <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt=""></a>
    <a href="{% url 'contenidos:mikit' %}" class="btn-kit">Mi Kit <img src="{% static 'img/icono-kit.png' %}" class="icono" alt=""></a>
</section>


<section class="container header-section">
    <div class="row">
        <div class="col-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Toolkit</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Rueda</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'contenidos:etapa3' %}">Etapa #3</a></li>
                    <li class="breadcrumb-item active" aria-current="page">3x3x3</li>
                </ol>
            </nav>
        </div>
    </div>
</section>


<section class="volver-herramientas container">
    <div class="row">
        <div class="col-12">
            <!--Esta parte deberia poder programarse para que siempre vuelva a la herramienta correspondiente a la etapa que se esta navegando-->
            <a href="{% url 'contenidos:etapa3' %}"> &lt; Volver a herramientas </a>
        </div>
    </div>
</section>


<section class="seccion-herramienta container">
    <div class="row">

        <div class="col-12 col-sm-12 col-md-4 col-lg-3 etapa-numero">
            <div class="alinear">

                <!--Acá se va a simular la información en función de la etapa 1-->

                <!--La imagen de la etapa debe ser seleccionada a través de las imagenes cargadas en la carpeta img que sigan la misma nomenclatura, solo que cambia el numero en función de la rueda y sus etapas-->
                <img src="{% static 'img/etapa-numero-3.png' %}" alt="Etapa 3 Objetivo">
                <h3>Objetivo</h3>
            </div>
            <h2 class="pregunta">¿Cuál es nuestro <span>objetivo</span>?</h2>
        </div>


        <div class="col-12 col-sm-12 col-md-8 col-lg-9">
            <div class="definicion">

                <!-- aca simulare las tres tipologias juntas, pero en efecto siempre una herramienta se mostrará solo por una de estas tres tipologías, pero siempre declará en esta zona la tipología para dar mayor información al usuario de lo que esta revisando-->
                <h4 class="metodologias">Metodologías</h4>

                <h3>3x3x3</h3>
                <p>Esta técnica permite generar muchas ideas en poco tiempo recogiendo la creatividad de otras personas, invitándonos a salir de la caja. Los pasos a seguir son:</p>
                <ol>
                    <li>Teniendo el problema y su causa visible para todos, los participantes se reunirán en grupos de al menos 3 personas.</li>
                    <li>Se les pedirá escribir en 5 minutos de forma individual 3 ideas para abordar el desafío, completando los tres cuadrantes de la fila superior de la hoja.</li>
                    <li>Cuando haya pasado el tiempo y todos hayan escrito las 3 ideas, cada persona entregará su hoja a la persona de la derecha. Cada persona recibirá una hoja con las ideas escritas por la persona del lado, las cuales deberán leer.</li>
                    <li>Nuevamente escribirán 3 ideas, las cuales deberán ser distintas o complementarias a las anteriores, las cuales anotarán en la fila intermedia, completando los tres cuadrantes siguientes, durante 5 minutos más.</li>
                    <li>Finalmente, cada persona pasará su hoja hacia la derecha nuevamente, leerá las 6 ideas que ha recibido y completará la última fila con 3 ideas distintas o complementarias a las anteriores. Dado que para ello se requerirá forzar más la mente para pensar otras ideas, se puede dar más tiempo en esta última ronda.</li>
                </ol>
                <img src="{% static 'img/visualizacion-3x3x3.png' %}" alt="diagrama que refleja la idea del 3x3x3x: 3 personas, 3 ideas cada uno" class="visualizacion-3x3x3">
            </div>
        </div>

    </div>
</section>

        <!-- <section class="componente-interactivo-form container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-12 titulo">
                        <h4>¡Ahora tu!</h4>
                        <p>Descarga el recuadro y redacta tu objetivo</p>
                    </div>
                    <div class="col-12 btn-descargar">
                        <a href="#" class="btn-democraciakit">Descargar</a>
                    </div>
                </div>
            </div>
        </section> -->


<section class="anadir-al-kit container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-5 contenido">
           <img src="{% static 'img/anadir-al-kit.png' %}" alt="icono que referencia añadir al kit">
           <h4>Avanzar</h4>
            <p>Si completaste esta etapa puedes avanzar y sumar los materiales a tu kit descargable. Siempre puedes volver a revisar los contenidos de todas las etapas.</p>
            <p><input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                <label class="form-check-label" for="invalidCheck">
                    Marca si terminaste la etapa
                </label>
                <div class="invalid-feedback">
                    Debes marcar para guardar tu avance y recolectar los materiales
                </div>
            </p>
            <a href="{% url 'contenidos:etapa3-sombreros' %}"><button class="btn-democraciakit">Añadir y avanzar</button></a>
            <!-- <a href="#" class="btn-democraciakit">Añadir y avanzar</a> -->
        </div>
    </div>
</section>

</main>

{% endblock %}