{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #2: Causas - Matriz de priorización{% endblock %}

{% block content %}
<main>
    
    <section class="container-fluid portada">
        <div class="iconos-derecha">
            <ul>
                <li class="img-1"><img src="{% static 'img/icono-1-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-2"><img src="{% static 'img/icono-2-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-1"><img src="{% static 'img/icono-3-portada.png' %}" alt="imagen decorativa de icono"></li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center titulos-portada">
                    <p>Construye tu proyecto con</p>
                    <h1>DemocraciaKit</h1>
                </div>
            </div>
        </div>
        <div class="iconos-izquierda">
            <ul>
                <li class="img-1"><img src="{% static 'img/icono-4-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-2"><img src="{% static 'img/icono-5-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-1"><img src="{% static 'img/icono-6-portada.png' %}" alt="imagen decorativa de icono"></li>
            </ul>
        </div>
    </section>
    
    <section class="accesos-directos">
        <a href="{% url 'users:profile' %}" class="btn-rueda">{% if user.is_authenticated %}{{ user.frase }}{% endif %}  <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt="Entrar a mi perfil"></a>
        <a href="{% url 'contenidos:mikit' %}" class="btn-kit">Mi Kit <img src="{% static 'img/icono-kit.png' %}" class="icono" alt="Entrar a mi kit"></a>
    </section>

    <section class="container header-section">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Toolkit</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:rueda' %}">Rueda</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:etapa2' %}">Etapa #2</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Matriz de priorización</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>

    <section class="volver-herramientas container">
        <div class="row">
            <div class="col-12">
                <a href="{% url 'contenidos:etapa2' %}"> &lt; Volver a herramientas </a>
            </div>
        </div>
    </section>

    <section class="seccion-herramienta container">
        <div class="row">

            <div class="col-12 col-sm-12 col-md-4 col-lg-3 etapa-numero">
                <div class="alinear">

                    <!--Acá se va a simular la información en función de la etapa 1-->

                    <!--La imagen de la etapa debe ser seleccionada a través de las imagenes cargadas en la carpeta img que sigan la misma nomenclatura, solo que cambia el numero en función de la rueda y sus etapas-->
                    <img src="{% static 'img/etapa-numero-2.png' %}" alt="Etapa 2 Causas">
                    <h3>Causas</h3>
                </div>
                <h2 class="pregunta">¿Cuales son las <span>causas</span> de tu problema?</h2>
            </div>


            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="definicion">

                    <h4 class="metodologias">Metodologías</h4>

                    <h3>Matriz de priorización</h3>
                    <p>Pueden existir múltiples causas a un problema social, por lo que es recomendable identificar una situación sobre la cual trabajar. </p>
                    <p>La matriz de priorización (a diferencia del mapa de afinidad), no requiere de un equipo de trabajo para realizarse.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="visualizacion-ejemplo container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3 titulo">
                <h4>Pasos</h4>
            </div>

            <div class="col-12 col-sm-12 col-md-8 col-lg-9">
                <div class="ejemplo">
                    <ol>
                        <li>Realizar un levantamiento inicial de las causas al problema priorizado. Para ello, se pueden realizar investigaciones, entrevistas, u otras formas de levantamiento de información. </li>
                        <li>Escribir cada una de las causas en un post it distinto.</li>
                        <li>Definir dos criterios que se utilizarán para realizar la priorización. Algunas alternativas frecuentemente utilizadas son:</li>
                        <li>
                            <ul>
                                <li><strong>Impacto:</strong> Posibilidad de impactar directamente en el proceso.</li>
                                <li><strong>Factibilidad:</strong> Capacidad de realizar un proyecto en este ámbito, considerando la disponibilidad de tiempos, recursos humanos, técnicos o financieros.</li>
                            </ul>
                        </li>
                        <li>Escribir los dos criterios seleccionados en cada eje, tal como se visualiza en la imagen.</li>
                        <img src="{% static 'img/visualizacion-matriz-de-priorizacion.png' %}" alt="Imagen ilustrativa de los criterios seleccionados en cada eje" class="visualizacion-matriz-de-priorizacion">
                        <li>
                          Posicionar cada post it con las ideas identificadas. Mientras más cerca del signo (+), cumplirá de mejor manera con el criterio.  
                        </li>
                        <li>Seleccionar de entre los post-it que quedan en el cuadrante superior derecho, pues serán los más relevantes de abordar. Si más de un post-it quedó en ese cuadrante, se puede volver a realizar una priorización entre ellos integrando otros criterios como el nivel de urgencia de atender la problemática.</li>
                
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <section class="anadir-al-kit container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-5 contenido">
               <img src="{% static 'img/anadir-al-kit.png' %}" alt="icono que referencia añadir al kit">
               <h4>Avanzar</h4>
                <p>Si completaste esta etapa puedes avanzar y sumar los materiales a tu kit descargable. Siempre puedes volver a revisar los contenidos de todas las etapas.</p>
                <p><input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                    <label class="form-check-label" for="invalidCheck">
                        Marca si terminaste la etapa
                    </label>
                    <div class="invalid-feedback">
                        Debes marcar para guardar tu avance y recolectar los materiales
                    </div>
                </p>
                <a href="{% url 'contenidos:etapa3' %}"><button class="btn-democraciakit">Añadir y avanzar</button></a>
                <!-- <a href="#" class="btn-democraciakit">Añadir y avanzar</a> -->
            </div>
        </div>
    </section>


</main>    
{% endblock %}
