{% extends 'contenidos/base.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #1: Problemas - Mi kit{% endblock %}

{% block content %}
<main>
    <!-- íconos -->
    <section class="container-fluid portada">
        <div class="iconos-derecha">
            <ul>
                <li class="img-1"><img src="{% static 'img/icono-1-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-2"><img src="{% static 'img/icono-2-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-1"><img src="{% static 'img/icono-3-portada.png' %}" alt="imagen decorativa de icono"></li>
            </ul>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 d-flex flex-column justify-content-center align-items-center titulos-portada">
                    <p>Construye tu proyecto con</p>
                    <h1>DemocraciaKit</h1>
                </div>
            </div>
        </div>
        <div class="iconos-izquierda">
            <ul>
                <li class="img-1"><img src="{% static 'img/icono-4-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-2"><img src="{% static 'img/icono-5-portada.png' %}" alt="imagen decorativa de icono"></li>
                <li class="img-1"><img src="{% static 'img/icono-6-portada.png' %}" alt="imagen decorativa de icono"></li>
            </ul>
        </div>
    </section>
    <!-- accesos directos -->
    <section class="accesos-directos">
        <a href="{% url 'users:profile' %}" class="btn-rueda">{% if user.is_authenticated %}{{ user.frase }}{% endif %}  <img src="{% static 'img/icono-perfil.png' %}" class="icono" alt="Entrar a mi perfil"></a>
        <a href="#" class="btn-kit"><img src="{% static 'img/icono-kit.png' %}" class="icono" alt="Entrar a mi kit"></a>
    </section>

<main>
    <section class="container header-section">
        <div class="row">
            <div class="col-12">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'contenidos:index' %}">Toolkit</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Tu kit</li>
                    </ol>
                </nav>
            </div>
        </div>
    </section>


    <section class="cabecera-mi-kit container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 kit">
                <img src="{% static 'img/icono-kit.png' %}" alt="Icono de Kit">
                <h3>Tu kit</h3>
                <p class="pregunta"><span>{{user.frase}},</span> ¿Ya tienes todas las herramientas necesarias para tu proyecto?</p>
            </div>

        </div>
    </section>
    <!-- Recopilacion de herramientas añadidas en el kit -->
    <section class="materiales-recopilados container">
        <div class="row">
            <!-- Acá se van sumando en función de lo que el usuario añadio al kit por cada etapa y por cada segmentación de la herramienta. Deje simulado todas las etapas visibles, la idea es que cuando una etapa no tenga nada incluido en el kit se quede oculta para que no sea tan saturante de información el desgloce de esta parte del sitio web -->

            <!-- Etapa 1-->

            <div class="col-12 etapa-documentos">
                <div class="etapa">
                    <img src="{% static 'img/etapa-numero.png' %}" alt="etapa 1: Problemas" class="etapa-numero">
                    <h3>Problemas</h3>
                    <p>¿Qué <span>problema</span> vamos a solucionar?</p>
                </div>
                <div class="materiales">
                    <div class="box metodologias">
                        <h4 class="metodologias">Metodologías</h4>
                        <h4><u>Esta es la definición inicial de tu problema</u>: </h4>
                    {% if formulario_reciente1 %}
                    <h4>Quién:</h4> <p>{{ formulario_reciente1.uno|linebreaks }}</p>
                    <h4>Dónde:</h4> <p>{{ formulario_reciente1.dos|linebreaks }}</p>
                    <h4>Cuando:</h4><p>{{ formulario_reciente1.tres|linebreaks }}</p>
                    <h4>Dolor:</h4> <p>{{ formulario_reciente1.cuatro|linebreaks }}</p>
                    {% endif %}
                    </div>
                </div>
            </div>

            <!-- Etapa 2-->

            <div class="col-12 etapa-documentos">
                <div class="etapa">
                    <img src="{% static 'img/etapa-numero-2.png' %}" alt="etapa 2: Causas" class="etapa-numero">
                    <h3>Causas</h3>
                    <p>¿Cuáles son las <span>causas</span> del problema?</p>
                </div>
                <div class="materiales">
                    <div class="box recomendaciones">
                        <h4 class="recomendaciones">Recomendaciones</h4>
                        <h4><u>Estas son las causas que identificaste de tu problema</u>: </h4>
                    {% if formulario_reciente2 %}
                    <h4>Causa #1:</h4> <p>{{ formulario_reciente2.uno|linebreaks }}</p>
                    <h4>Causa #2:</h4> <p>{{ formulario_reciente2.dos|linebreaks }}</p>
                    <h4>Causa #3:</h4> <p>{{ formulario_reciente2.tres|linebreaks }}</p>
                    <h4>Causa #4:</h4> <p>{{ formulario_reciente2.cuatro|linebreaks }}</p>
                    {% endif %}
                    </div>
                    <div class="box recomendaciones">
                        <h4 class="recomendaciones">Recomendaciones</h4>
                        <h4><u>Estas son tus reflexiones sobre el enfoque inclusivo en relación a tu problema</u>: </h4>
                    {% if formulario_reciente3 %}
                    <h4>Reflexión #1:</h4> <p>{{ formulario_reciente3.uno|linebreaks }}</p>
                    <h4>Reflexión #2:</h4> <p>{{ formulario_reciente3.dos|linebreaks }}</p>
                    <h4>Reflexión #3:</h4> <p>{{ formulario_reciente3.tres|linebreaks }}</p>
                    <h4>Reflexión #4:</h4> <p>{{ formulario_reciente3.cuatro|linebreaks }}</p>
                    <h4>Reflexión #5:</h4> <p>{{ formulario_reciente3.cinco|linebreaks }}</p>
                    {% endif %}
                    </div>
                    <div class="box metodologias">
                        <h4 class="metodologias">Metodologías</h4>
                        <p>Esto consideraste para tu mapa de afinidad: </p>
                    {% if formulario_reciente4 %}
                    <p>Quién: {{ formulario_reciente4.uno|linebreaks }}</p>
                    <p>Dónde: {{ formulario_reciente4.dos|linebreaks }}</p>
                    <p>Dolor: {{ formulario_reciente4.tres|linebreaks }}</p>
                    <p>Cuando: {{ formulario_reciente4.cuatro|linebreaks }}</p>
                    <p>Causa: {{ formulario_reciente4.cinco|linebreaks }}</p>
                    {% endif %}
                    </div>
                </div>
            </div>

            <!-- Etapa 3

            <div class="col-12 etapa-documentos">
                <div class="etapa">
                    <img src="{% static 'img/etapa-numero-3.png' %}" alt="etapa 3: Objetivos" class="etapa-numero">
                    <h3>Objetivo</h3>
                    <p>¿Acá va la <span>pregunta</span> de la etapa?</p>
                </div>
                <div class="materiales">
                    <div class="box recomendaciones">
                        <h4 class="recomendaciones">Recomendaciones</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                       

                    </div>

                    <div class="box casos-de-exito">
                        <h4 class="casos-de-exito">Casos de exito</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        
                    </div>

                    <div class="box metodologias">
                        <h4 class="metodologias">Metodologias</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        
                    </div>
                </div>
            </div> -->

            <!-- Etapa 4-->

            <div class="col-12 etapa-documentos">
                <div class="etapa">
                    <img src="{% static 'img/etapa-numero-4.png' %}" alt="etapa 4: Contexto" class="etapa-numero">
                    <h3>Contexto</h3>
                    <p>¿Cuál es el <span>contexto</span> del problema?</p>
                </div>
                <div class="materiales">
                    <!-- <div class="box metodologias">
                        <h4 class="metodologias">Metodologías</h4>
                        <p>Estos actores identificaste: </p>
                    {% if formulario_reciente4 %}
                    <p>A favor: {{ formulario_reciente4.uno }}</p>
                    <p>En contra: {{ formulario_reciente4.dos }}</p>
                    {% endif %}
                    </div> -->
                    <div class="box metodologias">
                        <h4 class="metodologias">Metodologías</h4>
                        <p>Estas son las opportunidades y amenazas que identificaste: </p>
                    {% if formulario_reciente41 %}
                    <p>Oportunidades: {{ formulario_reciente41.uno }}</p>
                    <p>Amenazas: {{ formulario_reciente41.dos }}</p>
                    {% endif %}
                    </div>
                    <div class="box metodologias">
                        <h4 class="metodologias">Metodologías</h4>
                        <p>Los eventos y acciones que formulaste: </p>
                    {% if formulario_reciente42 %}
                    <p>Eventos: {{ formulario_reciente42.uno }}</p>
                    <p>Acciones: {{ formulario_reciente42.dos }}</p>
                    {% endif %}
                    </div>
                </div>
            </div>

            <!-- Etapa 5-->

            <!-- <div class="col-12 etapa-documentos">
                <div class="etapa">
                    <img src="{% static 'img/etapa-numero-5.png' %}" alt="etapa 5: Decidir" class="etapa-numero">
                    <h3>Decidir</h3>
                    <p>¿Acá va la <span>pregunta</span> de la etapa?</p>
                </div>
                <div class="materiales">
                    <div class="box recomendaciones">
                        <h4 class="recomendaciones">Recomendaciones</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        
                    </div>

                    <div class="box casos-de-exito">
                        <h4 class="casos-de-exito">Casos de exito</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                       
                    </div>

                    <div class="box metodologias">
                        <h4 class="metodologias">Metodologias</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        
                    </div>
                </div>
            </div> -->


            <!-- Etapa 6-->

            <!-- <div class="col-12 etapa-documentos">
                <div class="etapa">
                    <img src="{% static 'img/etapa-numero-6.png' %}" alt="etapa 6: Empoderar" class="etapa-numero">
                    <h3>Empoderar</h3>
                    <p>¿Acá va la <span>pregunta</span> de la etapa?</p>
                </div>
                <div class="materiales">
                    <div class="box recomendaciones">
                        <h4 class="recomendaciones">Recomendaciones</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        

                    </div>

                    <div class="box casos-de-exito">
                        <h4 class="casos-de-exito">Casos de exito</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        
                    </div>

                    <div class="box metodologias">
                        <h4 class="metodologias">Metodologias</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        
                    </div>
                </div>
            </div> -->

            <!-- Etapa 7-->

            <!-- <div class="col-12 etapa-documentos">
                <div class="etapa">
                    <img src="{% static 'img/etapa-numero-7.png' %}" alt="etapa 7: Evaluar" class="etapa-numero">
                    <h3>Evaluar</h3>
                    <p>¿Acá va la <span>pregunta</span> de la etapa?</p>
                </div>
                <div class="materiales">
                    <div class="box recomendaciones">
                        <h4 class="recomendaciones">Recomendaciones</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        

                    </div>

                    <div class="box casos-de-exito">
                        <h4 class="casos-de-exito">Casos de exito</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        
                    </div>

                    <div class="box metodologias">
                        <h4 class="metodologias">Metodologias</h4>
                        <p>Nombre herramienta <a href="#" class="eliminar">X</a></p>
                        
                    </div>
                </div>
            </div> -->
            <!-- Acciones de salida del documento kit descargable-->
        </div>
    </section>
    <!-- <section class="salida-documento container">
        <div class="row">
            <div class="col-12 descargar">
                <div class="btn-descarga">
                    <a href="#" class="btn-democraciakit">Descargar</a>
                    <a href="#" class="btn-democraciakit">Vista previa</a>
                </div>
            </div>
        </div>
    </section> -->

</main>

    <section class="premio">
        <div class="scrolling-text">
            <p class="text-white">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-blue">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-green">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-white">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-blue">Premio latinoamericano democracia digital 2da edición</p>
            <p class="text-green">Premio latinoamericano democracia digital 2da edición</p>
        </div>
    </section>

</main>    
{% endblock %}
