{% load static %}
<!-- Cartilla para descargar -->
<html lang="es">
  <head>
    <title>Cartilla DemocraciaKit</title>
  </head>
  <body onload="window.print()">

    <div class="boxpdf1">
      <img src="{% static 'img/cabecera-card-kit.png' %}" class="cabecerapdf1">
      <div class="cuadropdf1">
        <div class="titulopdf1">
          <h2>Mapa de afinidad</h2>
        </div>
        <div class="subtitulopdf1">Estos son los elementos del mapa de afinidad</div>
        {% if formulario_reciente4 %}
        <div class="formulariorecientepdf1">
          <h4>Quién:</h4>
          <p>{{ formulario_reciente4.uno|linebreaks }}</p>
          <h4>Dónde:</h4>
          <p>{{ formulario_reciente4.dos|linebreaks }}</p>
          <h4>Dolor:</h4>
          <p>{{ formulario_reciente4.tres|linebreaks }}</p>
          <h4>Cuándo:</h4>
          <p>{{ formulario_reciente4.cuatro|linebreaks }}</p>
          <h4>Causa:</h4>
          <p>{{ formulario_reciente4.cinco|linebreaks }}</p>
          {% endif %}
        </div>
      </div>
      <img src="{% static 'img/footer-card-kit.png' %}" class="cabecerapdf1">
    </div>
  </body>
</html>

<style>

.boxpdf1 {
  width: 800px;
  max-width: 700px;
  margin: 1%;
}

  .cuadropdf1 {
    padding-left: 2%;
    padding-right: 4%;
    width: 800px;
    max-width: 700px;
  }

  .cabecerapdf1 {
    width: 100%;
  }

  p {
    font-family: 'Nunito', serif;
    font-size: 1em;
    font-weight: 200;
    line-height: 1.3;
    margin-bottom: 0.5em;
  }

  .titulopdf1 {
    font-family: 'Nunito', serif;
    font-size: 1em;
    text-align: center;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 0.9em;
  }

  .subtitulopdf1 {
    font-family: 'Nunito', serif;
    font-size: 1.2em;
    text-align: center;
    font-weight: 300;
    line-height: 1.6;
    margin-bottom: 0.9em;
  }

  h2 {
    font-family: 'Nunito', serif;
    font-size: 2.5em;
    font-weight: 300;
    line-height: 0.9em;
    align-items: center;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
  }

  h4 {
    font-family: 'Nunito', serif;
    font-size: 1.5em;
    font-weight: 300;
    line-height: 0.8em;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
  }

  .formulariorecientepdf1 {
    padding-left: 4%;
    padding-right: 4%;
    width: 600px;
    max-width: 600px; 
    display: inline-block;
    word-wrap: break-word;
  }
