{% extends 'contenidos/base-reporte.html' %}
{% load static %}
{% block title %}DemocraciaKit - Etapa #1: Problemas - Mi kit{% endblock %}

{% block content %}
<main id="main-report">
    
    <section class="cabecera-mi-kit container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-10 col-lg-8 kit">
                <h1 style="background-color: white;">Tu kit</h1>
                <p class="pregunta">{{user.frase}}, este es tu reporte de todas las etapas del kit</p>
                <button onclick="pdfreport" class="btn-democraciakit">Descargar PDF</button>
            </div>
        </div>
    </section>



    <section class="materiales-recopilados container">
        <div class="row">

            <div class="col-12 etapa-documentos" id="quiebre">
                <div class="etapa">
                    <h2 style="color: black; background-color: white;" class="etapa-numero">Problemas</h2>
                    <p>¿Qué problema vamos a solucionar?</p>
                </div>
                <div class="materiales">
                    <div class="box metodologias" style="background-color: white; border: 1px solid gray;">
                        <h3 style="line-height: 2;">Metodologías</h3>
                        <h4 style="line-height: 2;"><u>Esta es la definición inicial de tu problema</u>: </h4>
                    {% if formulario_reciente1 %}
                    <h4>Quién:</h4> <p>{{ formulario_reciente1.uno|linebreaks }}</p>
                    <h4>Dónde:</h4> <p>{{ formulario_reciente1.dos|linebreaks }}</p>
                    <h4>Cuando:</h4><p>{{ formulario_reciente1.tres|linebreaks }}</p>
                    <h4>Dolor:</h4> <p>{{ formulario_reciente1.cuatro|linebreaks }}</p>
                    {% endif %}
                    </div>
                </div>
            </div>



            <div class="col-12 etapa-documentos" id="quiebre">
                <div class="etapa">
                    <h2 style="color: black; background-color: white;" class="etapa-numero">Causas</h2>
                    <p>¿Cuáles son las causas del problema?</p>
                </div>
                <div class="materiales">
                    <div class="box recomendaciones" style="background-color: white; border: 1px solid gray;">
                        <h3 style="line-height: 2;">Recomendaciones</h3>
                        <h4 style="line-height: 2;"><u>Estas son las causas que identificaste de tu problema</u>: </h4>
                    {% if formulario_reciente2 %}
                    <h4>Causa #1:</h4> <p>{{ formulario_reciente2.uno|linebreaks }}</p>
                    <h4>Causa #2:</h4> <p>{{ formulario_reciente2.dos|linebreaks }}</p>
                    <h4>Causa #3:</h4> <p>{{ formulario_reciente2.tres|linebreaks }}</p>
                    <h4>Causa #4:</h4> <p>{{ formulario_reciente2.cuatro|linebreaks }}</p>
                    {% endif %}
                    </div>
                    <div class="box recomendaciones" style="background-color: white; border: 1px solid gray;">
                        <h3 style="line-height: 2;">Recomendaciones</h3>
                        <h4 style="line-height: 2;"><u>Estas son tus reflexiones sobre el enfoque inclusivo en relación a tu problema</u>: </h4>
                    {% if formulario_reciente3 %}
                    <h4>Reflexión #1:</h4> <p>{{ formulario_reciente3.uno|linebreaks }}</p>
                    <h4>Reflexión #2:</h4> <p>{{ formulario_reciente3.dos|linebreaks }}</p>
                    <h4>Reflexión #3:</h4> <p>{{ formulario_reciente3.tres|linebreaks }}</p>
                    <h4>Reflexión #4:</h4> <p>{{ formulario_reciente3.cuatro|linebreaks }}</p>
                    <h4>Reflexión #5:</h4> <p>{{ formulario_reciente3.cinco|linebreaks }}</p>
                    {% endif %}
                    </div>
                    <div class="box metodologias" style="background-color: white; border: 1px solid gray;">
                        <h3 style="line-height: 2;">Metodologías</h3>
                        <h4 style="line-height: 2;"><u>Esto consideraste para tu mapa de afinidad: </u></h4>
                    {% if formulario_reciente4 %}
                    <h4>Quién:</h4> <p>{{ formulario_reciente4.uno|linebreaks }}</p>
                    <h4>Dónde:</h4> <p>{{ formulario_reciente4.dos|linebreaks }}</p>
                    <h4>Dolor:</h4> <p>{{ formulario_reciente4.tres|linebreaks }}</p>
                    <h4>Cuando:</h4><p>{{ formulario_reciente4.cuatro|linebreaks }}</p>
                    <h4>Causa:</h4> <p>{{ formulario_reciente4.cinco|linebreaks }}</p>
                    {% endif %}
                    </div>
                </div>
            </div>



            <div class="col-12 etapa-documentos" id="quiebre">
                <div class="etapa">
                    <h2 style="color: black; background-color: white;" class="etapa-numero">Contexto</h2>
                    <h4>¿Cuál es el contexto del problema?</h4>
                </div>
                <div class="materiales">
                    <div class="box metodologias" style="background-color: white; border: 1px solid gray;">
                        <h3 style="line-height: 2;">Metodologías</h3>
                        <h4 style="line-height: 2;"><u>Estas son las opportunidades y amenazas que identificaste: </u></h4>
                    {% if formulario_reciente41 %}
                    <h4>Oportunidades:</h4> <p>{{ formulario_reciente41.uno }}</p>
                    <h4>Amenazas:</h4> <p>{{ formulario_reciente41.dos }}</p>
                    {% endif %}
                    </div>
                    <div class="box metodologias" style="background-color: white; border: 1px solid gray;">
                        <h3 style="line-height: 2;">Metodologías</h3>
                        <h4 style="line-height: 2;"><u>Los eventos y acciones que formulaste: </u></h4>
                    {% if formulario_reciente42 %}
                    <h4>Eventos:</h4> <p>{{ formulario_reciente42.uno }}</p>
                    <h4>Acciones:</h4> <p>{{ formulario_reciente42.dos }}</p>
                    {% endif %}
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</main>
   
{% endblock %}
